<form enctype="multipart/form-data" method="post"
      is="ajax-form"
      action="{% url 'data_capture:replace_step_1' id=price_list.pk %}">

  {% csrf_token %}

  {% if request.is_ajax %}
    {% include 'data_capture/messages.html' %}
  {% endif %}

  {{ form.non_field_errors }}

  {{ form.file.errors }}

  {{ form.file }}

  <div class="form-button-row clearfix">
    <div class="submit-group">
      <button type="submit" class="usa-button usa-button-primary">Next</button>
      <span class="submit-label">
        Double check your data and fix any errors.
      </span>
    </div>
  </div>

</form>
