@import 'variables';

h1 {
  letter-spacing: 0;

  .site-title {
    display: block;
    line-height: 1em;
  }

  .site-subtitle {
    display: block;
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
}

h4 {
  margin-bottom: 0.5rem;
}

main h5 {
  margin: 0 !important;
}

.help-text {
  clear: both;
  color: $color-gray;
  margin-bottom: 1em;
}

.schedule {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}

ol.steps li {
  font-family: $font-family-main;
}
