@import 'variables';

h1 {
  .site-title {
    display: block;
  }

  .site-subtitle {
    display: block;
    font-size: 2rem;
  }
}

h4, h5 {
  font-weight: $font-weight-bold;
}

h6 {
  text-transform: uppercase;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.help-text {
  clear: both;
  color: $color-gray;
  margin-bottom: 1em;
}

.dev-note {
  color: $color-gray-medium;
}

.schedule {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}

ol.steps li {
  font-family: $font-family-main;
}

//the buttons that download a graph on the main page
.download-buttons p {
  margin-top: 2rem;
}
