@import 'variables';
@import '../uswds/utilities';

// legacy sr-only class
.sr-only {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// link styles
@mixin link ($link, $visit, $hover, $active) {
  a {
    color: $link;

    &:visited {
      color: $visit;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}

.align-left {
  text-align: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@mixin clearfix() {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 980px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.skip-nav {
  position: absolute;
  left: -9999px;
  height: 0;
  &:focus {
    outline: 0;
    position: relative;
    left: auto;
    height: auto;
    display: block;
  }
}

.hidden {
    display: none;
}


/* tooltips */
.tooltips {
  position: relative;
  display: inline;
  span {
    position: absolute;
    width:140px;
    color: $color-white;
    background: i$color-black;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0; height: 0;
      border-top: 8px solid $color-black;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
}
th:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

/* Skeleton adds margin even to the first column in a row. */
.row .column:first-child,
.row .columns:first-child {
  margin-left: 0;
}

/* Animate the id corresponding to the currently-visited URL hash to
 * make it easier for users to see. */
:target {
  animation-duration: 2s;
  animation-name: highlight-fade;
}

@keyframes highlight-fade {
  from {
    background-color: #fff0be;
  }

  to {
    background-color: inherit;
  }
}

.no-scroll {
  overflow: hidden;
}

@mixin antialias {
  // Use this mixin when there is light text on a dark background to help
  // with font legibility.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
