// The variables in this file are created following the naming conventions
// established by the USWDS variables in _uswds-variables.scss
// (and https://github.com/uswds/uswds/blob/develop/src/stylesheets/core/_variables.scss)
// New variables added to the project should go here.

@import '../../../../node_modules/uswds/src/stylesheets/core/_utilities.scss';
@import 'rem';
@import 'uswds_variables';

// Colors
$color-blue-dark:            $color-primary;
$color-green-darkest:        #61701c;
$color-green-dark:           #a0ad64;

$color-green-bright:         $color-secondary;

$color-blue-lightest:        #d4f6fe;

$color-gray-darkest:         #092d39;
$color-gray-darker:          #2d4d59;

$color-gold-darkest:         #825c1e;

// Mobile First Breakpoints
// WDS' breakpoints go from 600px to 1201px.
// We really need a breakpoint in between.
$medium-large-screen: 900px;

// Fonts
$font-family-main: 'Libre Franklin', 'Helvetica', 'Arial', sans-serif;
$font-family-mono: 'Roboto Mono', 'Liberation Mono', 'Source Code Pro', Courier, monospace;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 200;

$display-font-size:   rem(40px);

$small-line-height: 1.3;

$line-length-max-width: rem(720px); // 75% of container max-width

// Neat grid overrides
$column: 5rem;
$gutter: 3rem;
$max-width: 980px;

// Spacing units
$base-spacing-unit: .8rem; //8px
$space-half: $base-spacing-unit/2; // 4px
$space-1x: $base-spacing-unit;
$space-2x: $base-spacing-unit * 2; // 16px -- most common unit
$space-3x: $base-spacing-unit * 3; // 24px
$space-4x: $base-spacing-unit * 4; // 32px
$space-6x: $base-spacing-unit * 6; // 48px
$space-8x: $base-spacing-unit * 8; // 64px
$space-10x: $base-spacing-unit * 10; // 80px

// Form variable overrides
$form-width: 100%; // was 32rem, but causes weirdness on main page
