{% load static %}

<p>
  For Region 10, this is your completed Price Proposal Template.
  We'll only read the <strong>{{ sheet_name }}</strong> tab. It
  should look like this:
</p>

<div class="excel-wrapper">
  <table class="excel">
    {% for row in sheet_rows %}
    <tr>
      {% for column in row %}
        <td>{{ column }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

{# TODO: template download #}

{% if show_debug_ui %}
<div class="dev-note">
  <strong>Developers:</strong>
  Download <a href="{% static 'data_capture/r10_example.xlsx' %}"><code>r10_example.xlsx</code></a>
  to use as an example.
</div>
{% endif %}
