/static
*.pyc
*.swp
*.swo
*.DS_Store
.coverage
coverage.xml
htmlcov
*,cover
/coverage
venv
ghostdriver.log
*.log
node_modules
selenium_tests/screenshot.png
.cache
.env
.Python
/bin
/include
/lib
pip-selfcheck.json
/src
.ruby-version
.sass-cache/
*credentials*.json
*manifest*.yml
docker-compose.override.yml
.dockerignore

.git
.eyeglass_cache
__pycache__
docs/_build
frontend/static/frontend/built
contracts/docs/hourly_prices_v*.csv
contracts/docs/s70/s70_data_v*.csv
