{
  "extends": "airbnb-base",
  "rules": {
    // Until https://github.com/benmosher/eslint-plugin-import/issues/142 is
    // fixed, we need to disable the following rule for Docker support.
    "import/no-unresolved": "off"
  }
}
