{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "import/named": 2
  }
}
