{% extends "email/base.html" %}
{% load email_utils %}

{% block content %}
<p>
  Hi there,
</p>
<p>
  We notice you haven't approved submitted price lists in CALC. {% if is_plaintext_email %}When you can, please review and approve these lists at {{ unreviewed_url }}.{% endif %}
</p>
{% if is_html_email %}
{% cta url=unreviewed_url text="Review submitted price lists" %}
{% endif %}
<p>
  Have questions about how to review and approve? Please contact us by replying to this email.
</p>
<p>
  Best,<br/>
  The CALC Team
</p>
{% endblock %}
