{% extends "email/base.html" %}
{% load email_utils %}
{% load humanize %}

{% block content %}
<h1>
  {{ total }} price list{{ total|pluralize:"s" }} nee{{ total|pluralize:"ds,d"}} your review
</h1>
<p>
  We noticed that {{ total|pluralize:"an,some" }} uploaded price list{{ total|pluralize:" is,s are" }} still awaiting your approval. Please <a href="{{ unreviewed_url }}">review {{ total|pluralize:"it,them" }} </a> at your earliest convenience, so this data can be added to CALC. Thanks!
</p>
  {% cta url=unreviewed_url action_text="Review now" %}
{% endblock %}
