{% load humanize %}
{% load data_capture %}
<p>
  This message is in regards to Region 10 CALC data upload <b>#{{ upload_source.id }}</b>, uploaded by <b>{{ upload_source.submitter.email }}</b> on <b>{{ upload_source.created_at|tz_timestamp }}</b>.
</p>
<p>
  The upload was <b>successful</b>!
</p>
<p>
  {{ num_contracts|intcomma }} rows of rate information have been loaded and previous Region 10 data has been removed from the CALC database.
</p>
{% if num_bad_rows %}
<p>
  {{ num_bad_rows|intcomma }} were not parsed and could not be loaded.
</p>
{% endif %}
