{% load data_capture %}
<p>
  This message is in regards to Region 10 CALC data upload <b>#{{ upload_source.id }}</b>, uploaded by <b>{{ upload_source.submitter.email }}</b> on <b>{{ upload_source.created_at|tz_timestamp }}</b>.
</p>
<p>
  Unfortunately, an <b>error occurred</b> while importing the data.
</p>
<p>
  Please visit <a href="{{ r10_upload_link }}">{{ r10_upload_link }}</a> to try uploading again.
</p>
<p>
  The traceback below may help the development team debug the problem.
</p>
<pre>
  {{ traceback }}
</pre>
