{% extends "email/base.html" %}
{% load email_utils %}
{% load humanize %}
{% load data_capture %}

{% block content %}
<h1>
  The data you uploaded has been added to CALC!
</h1>
<p>
  The Region 10 data file you uploaded to CALC on {{ upload_source.created_at|tz_timestamp }} has been added to <a href="{{ r10_upload_link }}">CALC</a>.
</p>
<p>
  <b>{{ num_contracts|intcomma }} rows</b> of pricing information have been loaded and previous Region 10 data has been removed from the CALC database.
</p>
{% if num_bad_rows %}
  <p>
    <b>{{ num_bad_rows|intcomma }} rows</b> had parsing errors and could not be loaded.
  </p>
{% endif %}
{% cta url=r10_upload_link action_text="Visit CALC now" %}
{% endblock %}
