@import '../base/variables';
// This has been heavily modified from the original. It should probably be restored and any modifications made in a file in the components directory.
.alert {
  padding: 1rem 6rem 1rem 2rem;
  border-radius: $border-radius;

  h3 {
    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

}
.alert-success {
  background-color: $color-green-lightest;
  border: 2px solid $color-green; //borders added for consistency with error style
}

.alert-warning {
  background-color: $color-gold-lightest;
  border: 2px solid $color-gold; //borders added for consistency with error style
}

.alert-info {
  background-color: $color-primary-alt-lightest;
  border: 2px solid $color-primary-alt; //borders added for consistency with error style
}
