{% extends 'data_capture/step.html' %}

{% block body_class %}secondary-step{% endblock %}

{% block subtitle %}Review price list`{% endblock %}

{% block step_body %}
  <h2>Review uploaded price list</h2>

  <h3>Valid rows</h3>
  {{ gleaned_data.to_table|safe }}

  {% if gleaned_data.invalid_rows %}
    <h3>Invalid rows</h3>
    {{ gleaned_data.to_error_table|safe }}
  {% endif %}

  <div class="form-button-row clearfix">
    <a href="{% url 'data_capture:step_2' %}" class="button button-previous">Previous</a>

    <a href="{% url 'data_capture:step_3' %}?force=on" class="button button-secondary">Upload revised price list</a>

    <a href="{% url 'data_capture:step_4' %}?prev={% url 'data_capture:step_3_data' %}" class="button button-primary">
      Next
    </a>

    <button type="submit" class="button-link" name="cancel" data-a11y-dialog-show="cancel-dialog" formnovalidate>Cancel</button>
  </div>
{% endblock %}
