{% extends 'data_capture/step.html' %}

{% block subtitle %}Upload price list{% endblock %}

{% block step_heading %}
<p>Your price lists help make CALC a more robust tool. Uploading them is quick. Once you upload a price list, we’ll make sure we understand your data, ask you for a few details, and send your price list to a CALC admin. The admin will check the data and publish it on CALC for all to use.</p>
{% endblock %}

{% block step_body %}
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.schedule.errors }}
  <label for="{{ form.schedule.id_for_label }}">Which schedule is associated with this price list?</label>
  {{ form.schedule }}

  {{ form.contract_number.errors }}
  {{ form.contract_number.label_tag }}
  {{ form.contract_number.help_text }}
  {{ form.contract_number }}

  {{ form.vendor_name.errors }}
  {{ form.vendor_name.label_tag }}
  {{ form.vendor_name }}

  <div class="form-button-row clearfix">
    <div class="submit-group">
      <button type="submit" class="button-primary">Next</button>
      <span class="submit-label">
        Provide some basic details about the contract.
      </span>
    </div>
  </div>
</form>

{% endblock %}
