{% extends 'data_capture/step.html' %}

{% block subtitle %}Enter contract details{% endblock %}

{% block step_body %}
<h2>Enter contract details</h2>
<div class="row">
  <form method="post" class="columns nine">
  {% csrf_token %}

  {{ form.non_field_errors }}
  <fieldset>
    <legend>{{ form.is_small_business.label }}</legend>
    {{ form.is_small_business.errors }}
    {{ form.is_small_business }}
  </fieldset>
  <fieldset>
    <legend>{{ form.contractor_site.label }}</legend>
    {{ form.contractor_site.errors }}
    {{ form.contractor_site }}
  </fieldset>

  <div class="date-range">
    <fieldset>
      <legend>{{ form.contract_start.label }}</legend>
      {{ form.contract_start.errors }}
      {{ form.contract_start }}
    </fieldset>
    <p>to</p>
    <fieldset>
      <legend>{{ form.contract_end.label }}</legend>
      {{ form.contract_end.errors }}
      {{ form.contract_end }}
    </fieldset>
  </div>

  <div class="form-button-row clearfix">
    <a href="{% url 'data_capture:step_1' %}" class="button button-outline button-previous">Previous</a>

    <div class="submit-group">
      <button type="submit" class="button-primary">Next</button>
      <span class="submit-label">
        Choose the awarded price list to upload.
      </span>
    </div>

    <button type="submit" class="button-link" name="cancel" formnovalidate>Cancel</button>
  </div>

  </form>
</div>
{% endblock %}
