{% extends 'data_capture/step.html' %}
{% load data_explorer_tags %}

{% block head_meta %}
  {% capture as title strip %}
    {{ step.description|capfirst }}: Data submitted for review!
  {% endcapture %}
  {% head_meta title=title %}
{% endblock %}

{% block body_class %}content--skinny{% endblock %}
{% block main_class %}secondary-step card--collapse-header{% endblock %}
{% block step_heading %}<h2>Price list submitted!</h2>{% endblock %}

{% block step_body %}
  <p>
    A CALC administrator will review your submitted data and include it in CALC if all looks good. Thank you!
  </p>

  <div class="form-button-row clearfix">
    <a href="{% url 'index' %}" class="usa-button usa-button-secondary">CALC home</a>
    <a href="{% url 'data_capture:step_1' %}" class="usa-button usa-button-primary">Add another price list</a>
  </div>
{% endblock %}
