{% extends 'data_capture/step.html' %}
{% block body_class %}content--skinny{% endblock %}
{% block main_class %}secondary-step card--collapse-header{% endblock %}

{% block subtitle %}Upload price list{% endblock %}
{% block step_heading %}
  <h2>Upload awarded price list</h2>
{% endblock %}
{% block step_body %}
  <p>Choose the <strong>final</strong> awarded price list you'd like to add to CALC.</p>

  {% include 'data_capture/_upload_example.html' %}

  {% include 'data_capture/price_list/upload_form.html' %}
{% endblock %}
{% block card_footer %}
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="usa-button usa-button-link" name="cancel" data-a11y-dialog-show="cancel-dialog" formnovalidate>Cancel this upload</button>
  </form>
{% endblock %}
