{% extends 'data_capture/step.html' %}

{% block body_class %}secondary-step card--wide card--no-header{% endblock %}

{% block title %}Analyze price list / {{ step.description|capfirst }}{% endblock %}

{% block step_heading %}
  <h2>Price list analysis</h2>
  {% if gleaned_data.valid_rows %}
    <p>Below is the analysis of your price list.</p>
    {% endif %}
{% endblock %}
{% block step_body %}
  {% if gleaned_data.invalid_rows %}
    {% with rows=gleaned_data.invalid_rows %}
      {% with total=rows|length %}

        <div class="message message-error" role="alert">
          {% if not gleaned_data.valid_rows %}
            <h3>No valid rows found!</h3>
            <p>
              Your uploaded price list contains no valid rows. Please fix the errors
              shown below in the original file and <a href="{% url 'data_capture:analyze_step_2' %}">try uploading it again</a>.
            </p>
          {% else %}
            <h3>We found errors in {{ total }} row{{ total|pluralize }} of your data</h3>
            <p>
              The row{{ total|pluralize }} below appear{{ total|pluralize:"s," }} to be
              invalid and <strong>was not analyzed</strong>.
              If you'd like, you may correct {{ total|pluralize:"this row,these rows" }}
              in your original spreadsheet and <a href="{% url 'data_capture:analyze_step_2' %}">try uploading it again</a>.
            </p>
          {% endif %}
        </div>
      {% endwith %}
      {{ gleaned_data.to_error_table|safe }}
    {% endwith %}
  {% endif %}

  {% if gleaned_data.valid_rows %}
    <table class="price-list-table">
        <thead>
          <tr>
            <th>Service proposed <span class="help_text">(e.g. Labor Category or Job Title/Task)</span></th>
            <th>Min. education <span class="help_text">(or certification level)</span></th>
            <th class="number">Min. years of experience</th>
            <th class="number">Price</th>
            <th>Analysis</th>
          </tr>
        </thead>
        <tbody>
        {% for row in analyzed_rows %}
          <tr>
            <td>{{ row.labor_category }}</td>
            <td>{{ row.education_level }}</td>
            <td class="number">{{ row.min_years_experience }}</td>
            <td class="number">${{ row.price|floatformat:2 }}</td>
            <td {% if row.analysis.severe %}class="error"{% endif %}>
              {{ row.analysis.description }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  {% endif %}

  <div class="form-button-row clearfix">
    <div class="download-group">
      <label>Download analysis:</label>
      <a href="{% url 'data_capture:export_analysis' %}?f=csv" class="usa-button ghost-button csv" download>
        CSV file
      </a>

      <a href="{% url 'data_capture:export_analysis' %}?f=xlsx" class="usa-button ghost-button csv" download>
        Excel file
      </a>
    </div>

    <a href="{% url 'index' %}" class="usa-button usa-button-secondary">CALC home</a>
    <a href="{% url 'data_capture:analyze_step_1' %}" class="usa-button usa-button-primary">Analyze another price list</a>
  </div>
{% endblock %}
