{% extends 'data_capture/step.html' %}

{% block body_class %}secondary-step card--narrow card--no-header{% endblock %}

{% block title %}Analyze price list / {{ step.description|capfirst }}{% endblock %}

{% block step_heading %}
  <h2>Upload price list</h2>
{% endblock %}
{% block step_body %}
  <p>Choose the price list you'd like to analyze.</p>

  {% include 'data_capture/_upload_example.html' %}

  {% include 'data_capture/analyze_price_list/upload_form.html' %}
{% endblock %}
{% block card_footer %}
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="button-link" name="cancel" data-a11y-dialog-show="cancel-dialog" formnovalidate>Cancel this upload</button>
  </form>
{% endblock %}
