// This file contains extra CSS that will be included inline
// after the CSS of responsive-html-email-template.

@import 'base/variables';

.calc-questions {
  background-color: $color-gray-lighter;
}

table {
  border-spacing: 0;
}

.main {
  border-radius: 0;
}

body, .body {
  background-color: $color-gray-lightest;
}

.btn a {
  // We use sentence case, not title case.
  text-transform: none;
}

a {
  color: $color-primary;
}

.btn a {
  border: solid 1px $color-primary;
  color: $color-primary;
  border-radius: 0;
}

.btn-primary table td {
  background-color: $color-primary;
}

.btn-primary a {
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-white;
}

.btn-primary table td:hover {
  background-color: $color-primary-darker !important;
}

.btn-primary a:hover {
  background-color: $color-primary-darker !important;
  border-color: $color-primary-darker !important;
}

.btn table td {
  border-radius: 0;
}

table[class="body"] .btn table {
  width: 100%;
}

table[class="body"] .btn a {
  width: 100%;
}

.calc-logo-wrapper {
  padding-bottom: 20px;
}
