// This file contains extra CSS that will be included inline
// after the CSS of responsive-html-email-template.

@import 'base/variables';

.calc-questions {
  background-color: $color-gray-light;
}

.calc-questions p:first-child {
  margin-bottom: 0;
  margin-top: 12px;
}

table {
  border-spacing: 0;
}

.main {
  border-radius: 0;
}

body, .body {
  background-color: $color-gray-lighter;
}

.btn a, h1 {
  // We use sentence case, not title case.
  text-transform: none;
}

a {
  color: $color-base;
}

.wrapper {
  padding-left: 48px;
  padding-right: 48px;
}

.btn a {
  border: 1px solid $color-green-bright; // To override USWDS
  border-radius: 3px;
  color: $color-base;
  font-size: 18px;
}

.btn-primary table td {
  background-color: $color-green-bright;
}

.btn-primary a {
  background-color: $color-green-bright;
  border-color: $color-green-bright; // To override USWDS
  color: $color-base;
}

.btn-primary table td:hover {
  background-color: $color-green-bright !important;
}

.btn-primary a:hover {
  background-color: $color-green !important;
  border-color: $color-green !important; // To override USWDS
}

.btn table td {
  border-radius: 3px;
}

table.body .btn table {
  margin: auto;
  max-width: 300px;
  width: 100%;
}

table.body .btn a {
  margin: auto;
  max-width: 300px;
  width: 100%;
}

.calc-logo-wrapper {
  padding-bottom: 36px;
  padding-top: 24px;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 12px;
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 12px;
}

.btn > tbody > tr > td {
  padding-bottom: 48px;
  padding-top: 24px;
}
