<!DOCTYPE html>
<html>
<head>
	<title></title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.0/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.js"></script>
</head>
<body>

<form action="/calc_kpi/percentage_compare" method="post">
	{% csrf_token %}
	<label for="hourly_rate">Please enter an hourly rate for this contractor</label>
	<input id="hourly_rate" type="text" name="hourly_rate" value="32.75">
	
	<label for="total_hours">Please enter the total number of expected hours this contract will be for</label>
	<input id="total_hours" type="text" name="total_hours" value="2000">

	<label for="labor_category">Please enter a labor category for this contractor</label>
	<input id="labor_category" type="text" name="labor_category" value="Analyst 1">
	
	<input type="submit" value="OK">
</form>

{% if result %}

<div id="chart"></div>

	{% if you_saved_with_calc %}
		<p> For the hourly rate of ${{hourly_rate}}, and the labor category of {{labor_category}}: {{percentage}}% of contracts had higher prices than this one.</p>
		<p> You saved an average of ${{average_savings}} per hour compared to contracts that paid more than this one.</p>

		<p> Compared to more expensive contracts, this contract is ${{average_total_cost_savings}} less on average in total cost.</p> 
		<p> When making this calculation, we used the hours you entered above to figure out total cost for all other contracts</p>

		<p> Assuming the hours you entered for this contract, this contract will cost in total ${{total_cost_for_this_contract}} (hourly rate * number of hours)</p>
		
	{% else %}

		<p> For the hourly rate of ${{hourly_rate}}, and the labor category of {{labor_category}}: {{percentage}}% of contracts had lower prices than this one.</p>
		<p> If this rate was the average, which happens to be ${{central_tendency}} you could save ${{possible_savings}} per hour.  
		That translates to a ${{total_savings}} savings over the life time of this contract. </p>

	{% endif %}
{% endif %}
</body>
</html>