<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form action="/calc_kpi/percentage_compare" method="post">
	{% csrf_token %}
	<label for="hourly_rate">Please enter the desired hourly rate for this contractor</label>
	<input id="hourly_rate" type="text" name="hourly_rate" value="32.75">
	
	<label for="labor_category">Please enter the desired labor category for this contractor</label>
	<input id="labor_category" type="text" name="labor_category" value="Analyst 1">
	
	<input type="submit" value="OK">
</form>

{% if result %}
<p> For the hourly rate of ${{hourly_rate}}, and the labor category of {{labor_category}}, {{percentage}}% of contracts were higher than this one.</p>
{% endif %}
</body>
</html>