{% extends "base.html" %}
{% load staticfiles %}
{% load styleguide %}

{% block title %}Style Guide{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styleguide/styleguide.css' %}">
<link rel="stylesheet" href="{% static 'styleguide/vendor/prism.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <h1>CALC Style Guide</h1>

  <p>
    CALC uses <a href="http://getskeleton.com/">Skeleton</a> as the foundation
    for its styles, with alterations based on the
    <a href="https://standards.usa.gov/">U.S. Web Design Standards (USWDS)</a>.
  </p>

  <h2 id="primary-buttons">Primary Buttons</h2>

  <p>
    The color of primary buttons matches the
    <a href="https://standards.usa.gov/visual-style/#palette">primary colors</a>
    of the USWDS.
  </p>

  {% example %}
  <a class="button button-primary" href="#">Link</a>
  <button class="button-primary">Button</button>
  <input class="button-primary" type="button" value="Input">
  <input class="button-primary" type="submit" value="Submit">
  {% endexample %}

  <h2 id="steps">Steps</h2>

  <p>
    The steps widget can be used to visualize the user's progress through a
    multi-step process.
  </p>

  <p>
    The widget extends to the full width of its container, with each
    step consuming an equal amount of horizontal space.
  </p>

  <p>
    Use <code>li.steps-done</code> to identify a step as being completed.
  </p>

  {% example %}
  <ol class="steps">
    <li class="steps-done">
      <svg viewBox="0 0 30 30">
        <circle cx="15" cy="15" r="13.5"/><text x="15" y="20">1</text>
      </svg>
      Upload price list
    </li>
    <li class="steps-done">
      <svg viewBox="0 0 30 30">
        <circle cx="15" cy="15" r="13.5"/><text x="15" y="20">2</text>
      </svg>
      Validate data
    </li>
    <li>
      <svg viewBox="0 0 30 30">
        <circle cx="15" cy="15" r="13.5"/><text x="15" y="20">3</text>
      </svg>
      Submit data
    </li>
  </ol>
  {% endexample %}
</div>
<script src="{% static 'styleguide/vendor/prism.js' %}"></script>
{% endblock %}
