{% extends "styleguide_base.html" %}
{% load styleguide %}

{% block styleguide_body %}

  {% guide %}
  <div class="sidenav-layout__content">
  <div class="card">
  <div class="content">
  <h1>CALC Style Guide Documentation</h1>

  <p>
    Welcome to the CALC Style Guide Documentation! Here you'll find guidelines on how to update the <a href="{% url 'styleguide:index' %}">CALC Style Guide</a>.
  </p>

  {% guide_section "Overview" %}
  <p>
    The style guide is a Django app in the {% pathname "styleguide" %} directory. The
    bulk of its textual content is in {% pathname "styleguide/templates/styleguide.html" %},
    which is a standard Django template.
  </p>

  {% guide_section "Template tags" %}
  <p>
    The style guide comes with a number of template tags defined in
    the {% template_tag_library "styleguide" %} template tag library.
    In addition to being convenient, they're also designed to prevent
    documentation rot.
  </p>

  {% guide_section "Linking to source files" %}

  <p>
    The {% templatetag "styleguide.pathname" %} template tag is useful for linking
    to any CALC source file or directory relative to the root of the
    repository. The relative path is displayed along with a
    hyperlink to view the file or directory on GitHub.
  </p>

  <p>
    At render time, the existence of the file or directory is
    also verified and an exception is thrown if it doesn't
    exist, to prevent documentation rot.
  </p>

  {% template_example %}
  See {% pathname "README.md" %} for some basic info.
  {% endtemplate_example %}

  {% endguide %}
</div><!--content-->
</div><!--card-->
</div><!--sidenav-layout__content-->
{% endblock %}
