@import '../base/variables';
// This has been heavily modified from the original. It should probably be restored and any modifications made in a file in the components directory.
.alert {
  padding: 1rem 6rem 1rem 2rem;
  border-radius: $border-radius;

  h3 {
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  td, th {
    border-color: $color-gray-dark;

    &:last-child {
      border-right: none;
    }
  }

  td.error {
    border: 2px solid $color-secondary-dark;
    color: $color-secondary-dark;
    font-weight: $font-weight-bold;
  }

  thead th {
    color: $color-black;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: inherit;
    }
    &:hover > * {
      background: inherit !important;
    }
  }
}

.alert-success {
  background-color: $color-green-lightest;
  border: 2px solid $color-green; //borders added for consistency with error style
}

.alert-warning {
  background-color: $color-gold-lightest;
  border: 2px solid $color-gold; //borders added for consistency with error style
}

.alert-error {
  border: 2px solid $color-secondary-dark; //error alerts have only borders, no background color

  h3 {
    color: $color-secondary-dark;
  }
}

.alert-info {
  background-color: $color-primary-alt-lightest;
  border: 2px solid $color-primary-alt; //borders added for consistency with error style
}
