@import '../base/variables.scss';
// Other button styles are inspired by but are not copied exactly from WDS. They are in components/_buttons.scss.

[type="submit"]:disabled,
.button-disabled {
  background-color: $color-gray-lighter;
  color: $color-gray-dark;
  cursor: default;
  border: 0;

  &:hover,
  &.button-hover,
  &:active,
  &.button-active,
  &:focus  {
    background-color: $color-gray-lighter;
    border: 0;
    box-shadow: none;
    color: $color-gray-dark;
  }
}

// Excludes .button-primary classes, as we need to style those more explicitly to override Skeleton
.button,
.button:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  appearance: none;
  background-color: $color-white; // use Skeleton's default transparent bg
  /*border: 0;*/ // use Skeleton's default
  border-radius: $border-radius;
  color: $color-gray; // use Skeleton's default
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-main;
  font-size: $small-font-size; // original is $base-font, which is too large here
  font-weight: $font-weight-bold;
  line-height: 1.7; // adjusted from 1, which makes links show funky
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  @include media($small-screen) {
    width: auto;
  }

  &.button-secondary {
    background-color: $color-secondary;

    &:hover,
    &.button-hover {
      background-color: $color-secondary-dark;
    }

    &:active,
    &.button-active {
      background-color: $color-secondary-darkest;
    }
  }

  &.button-gray {
    background-color: $color-gray;

    &:hover,
    &.button-hover {
      background-color: $color-gray-dark;
    }

    &:active,
    &.button-active {
      background-color: $color-base;
    }
  }
}
