@import '../base/variables';
@import '../base/utils';

$form-width: 100%; // was 32rem, but causes weirdness on main page
$input-max-width: 46rem;

//from USWDS _forms.scss

form {
  @include media($medium-screen) {
    max-width: $form-width;
  }

  a {
    border-bottom: 0;
  }

  button[type="submit"],
  input[type="submit"] {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 2.5rem;

    @include media($medium-screen) {
      padding-left: 2.7em;
      padding-right: 2.7em;
      width: auto;
    }
  }

  input[name="password"], input[name="confirmPassword"] {
    margin-bottom: 1.1rem;
  }
}

.form-note {
  float: right;
  font-family: $font-family-main;
  font-size: $h5-font-size;
  margin: 0 0 1.5rem;

  & + * {
    clear: both;
  }
}

.additional_text {
  float: right;
  font-style: italic;
  font-weight: normal;
}

.input-buttons-inline {
  button,
  button[type="submit"],
  input[type="submit"],
  & > * {
    display: inline;
    margin-right: 1.5em;
  }
}
