{% extends "admin/change_list.html" %}

{% block content %}
<p>
  The following rows are <em>only</em> for non-approved price lists.
</p>
<p>
  For rows that are somehow out-of-the-ordinary, you can click the
  <strong>Is muted</strong> checkbox to prevent it from being included in
  CALC's data once you approve the price list.
</p>
<p>
  Remember to click the <strong>Save</strong> button to submit your
  changes.
</p>
<p>
  Once you've muted any necessary rows, you can visit the corresponding
  <a href="{% url 'admin:app_list' app_label='data_capture' %}">price list admin page</a>
  to approve the data for inclusion into CALC.
</p>
{{ block.super }}
{% endblock %}
