@import '../base/_variables.scss';

td.action-checkbox,
th.action-checkbox-column {
  padding: 0.45em 0 0 0.25em;
  input[type=checkbox],
  input[type=radio]{
    position: static;
    left: 0;
    width: auto;
  }
}

.filter-block {
  background: #f1f1f1;
  border-radius: $border-radius;
  margin-bottom: 0;
  padding: 1rem 2rem;
  h2,
  h3 {
    font-size: $base-font-size; /* to match front-page h5 */
    font-weight: bold;
    letter-spacing: normal;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    margin: 0 0 2rem 0;
    li {
      margin-bottom: 0;
      &.selected a {
        color: $color-primary;
        font-weight: bold;
        border-left: .5rem solid $color-primary;
        margin-left: -2rem;
        padding-left: 1.5rem;
      }
      a {
        text-decoration: none;
        color: $color-gray;
      }
    }
  }
}

#changelist-form {
  .actions {
    button {
      margin: 0;
    }
    label {
      font-size: 1.5rem;
      color: $color-base;
      margin-left: 0;
      margin: 1rem 0;
      float: left;
    }
  }
  .paginator {
    background: linear-gradient(180deg,$color-gray 1.5em,white 1.5em)!important;
    color: $color-white;
    font-weight: $font-weight-bold;
    text-align: center;
    max-width: none;
  }
}
.action-counter {
  font-size: $small-font-size;
  color: $color-gray;
  display: block;
  clear: both;
  // hide .questions, .all, etc. until we can modify the django template
  // see https://github.com/18F/calc/issues/1134
  ~ span {
    display: none;
  }
}

/* users and groups multiselect form */
.related-widget-wrapper {
  width: 100%;
}
