{% extends "base.html" %}
{% load humanize %}
{% load data_capture %}

{% block body_class %}content--skinny{% endblock %}
{% block title %}User Account{% endblock %}
{% block body %}
  <div class="container">
    <div class="card">
      <div class="content">
      <h1>Activity summary</h1>
      {% if total_submitted %}
        <div class="">
          <h2>{{ total_submitted }} price list{{ total_submitted|pluralize }} submitted to date!</h2>
          <ul>
            <li><a href="{% url 'data_capture:price_lists' %}#approved">{{ total_approved }} approved and available in CALC</a></li>
            <li><a href="{% url 'data_capture:price_lists' %}#unreviewed">{{ total_unreviewed }} awaiting approval</a></li>
            <li><a href="{% url 'data_capture:price_lists' %}#rejected">{{ total_rejected }} rejected</a></li>
          </ul>
          <a class="usa-button usa-button-primary" href="{% url 'data_capture:price_lists' %}">See all</a>
        </div>
      {% elif perms.data_capture.add_submittedpricelist %}
        <div class="alert alert-warning">
          <h2>You haven't submitted any price lists</h2>
          <p>Adding your awarded contract data helps all users of CALC. Try <a href="{% url 'data_capture:step_1' %}">adding a price list</a> now!</p>
        </div>
      {% endif %}
      </div><!--content-->
    </div><!--card-->

    {% if total_submitted %}
      <div class="row card">
        <div class="content">
          <h2>Recently approved price lists</h2>
          {% if recently_approved_price_lists %}
            <ul class="price-list-list">
              {% for pl in recently_approved_price_lists %}
                <li>
                  <a href="{% url 'data_capture:price_list_details' id=pl.pk %}">{{ pl.contract_number }} &mdash; {{ pl.vendor_name }}</a>
                  <p class="meta-info">Approved on {{ pl.status_changed_at|tz_timestamp }} by {{ pl.status_changed_by.email }}</p>
                </li>
              {% endfor %}
            </ul>
            <p><a class="usa-button usa-button-primary" href="{% url 'data_capture:price_lists' %}#approved">See all</a></p>
          {% else %}
            <p>None of your price lists have been approved yet.</p>
          {% endif %}
        </div>
      </div>
      <div class="row card">
        <div class="content">
          <h2>Recently submitted price lists</h2>
          {% if recently_submitted_price_lists %}
            <ul class="price-list-list">
              {% for pl in recently_submitted_price_lists %}
                <li>
                  <a href="{% url 'data_capture:price_list_details' id=pl.pk %}">{{ pl.contract_number }} &mdash; {{ pl.vendor_name }}</a>
                  <p class="meta-info">Submitted on {{ pl.status_changed_at|tz_timestamp }}</p>
                </li>
              {% endfor %}
            </ul>
            <p><a class="usa-button-usa-button-primary" href="{% url 'data_capture:price_lists' %}#unreviewed">See all</a></p>
          {% else %}
            <p>All of your submitted price lists have been approved!</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock body %}
