.styleguide-toc {
  background-color: #f0f0f0;
  padding: 1em 2.5em;
}

.styleguide-toc li:last-child {
  margin-bottom: 0;
}

h3.styleguide-section {
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}

.styleguide-section a {
  color: lightgray;
  text-decoration: none;
  margin-left: -0.8em;
  padding-right: 2px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.25s;
}

.styleguide-section:hover a {
  opacity: 1;
}

.styleguide-section a:before {
  content: '#';
}

.styleguide-example {
  border: 1px solid lightgray;
  margin-bottom: 2.5rem;
}

.styleguide-example .rendering {
  padding: 1em 2.5em;
}

.styleguide-example .rendering .example-heading {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 1px;
}

.styleguide-example a[target="_blank"] {
  display: inline-block;
  padding-left: 1em;
  min-height: 1em;
  background-image: url(vendor/external-link.svg);
  background-size: 1em;
  background-repeat: no-repeat;
}

.styleguide-example .example-heading a[target="_blank"] {
  float: right;
}

/* This selector looks weird because we're waging a war on
 * two fronts between CodeClimate's CSS linter and
 * Prism's default CSS. */
html .styleguide-example pre {
  margin: 0;
}

.styleguide-example pre > code {
  padding: 0;
  margin: 0;
  border: none;
}

code > a {
  text-decoration: none;
}

code > a:hover {
  text-decoration: underline;
}

/* http://www.jimmyscode.com/css-styling-for-kbd-tags/ */
kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}
