.styleguide-toc {
  background-color: #f0f0f0;
  padding: 1em;
}

.styleguide-toc li:last-child {
  margin-bottom: 0;
}

h3.styleguide-section {
  border-bottom: 1px solid lightgray;
}

.styleguide-section a {
  color: lightgray;
  text-decoration: none;
  margin-left: -29px;
  padding-right: 2px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.25s;
}

.styleguide-section:hover a {
  opacity: 1;
}

.styleguide-section a:before {
  content: '#';
}

.styleguide-example {
  border: 1px solid lightgray;
  margin-bottom: 2.5rem;
}

.styleguide-example .rendering {
  padding: 8px;
}

.styleguide-example .rendering .example-heading {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 1px;
}

/* This selector looks weird because we're waging a war on
 * two fronts between CodeClimate's CSS linter and
 * Prism's default CSS. */
html .styleguide-example pre {
  margin: 0;
}

.styleguide-example pre > code {
  padding: 0;
  margin: 0;
  border: none;
}
