{% extends 'data_capture/base.html' %}

{% block title %}{{ price_list.contract_number }} Price List Details{% endblock %}

{% block body %}
  <div class="container card--wide">
    <div class="card">
      <div class="card__content">
      <p><a href="{% url 'data_capture:price_lists' %}">&laquo; Back to your price lists</a></p>

      <h1>Details for <strong>{{ price_list.vendor_name }}</strong>'s price list</h1>
      <h2>{{ price_list.contract_number }}</h2>
    {% if price_list.get_status_display == 'approved' %}
      <div class="alert alert-success">
        <h3>Approved</h3>
        <p>This price list's data is available in CALC.</p>
      </div>
    {% elif price_list.get_status_display == 'unreviewed' %}
      <div class="alert alert-warning">
        <h3>Not yet approved</h3>
        <p>This price list has not yet been reviewed by a CALC Administrator.</p>
      </div>
    {% elif price_list.get_status_display == 'rejected' %}
      <div class="alert alert-error">
        <h3>Rejected</h3>
        <p>This price list has been rejected by a CALC Administrator.</p>
      </div>
    {% elif price_list.get_status_display == 'retired' %}
      <div class="alert alert-error">
        <h3>Retired</h3>
        <p>This price list has been removed from CALC.</p>
      </div>
    {% endif %}

      {% include 'data_capture/messages.html' %}

      <div data-edit-contract-details {% if not show_edit_form %}style="display:none;"{% endif %}>
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}

          {% load frontend %}

          <p>Schedule: {{ price_list.get_schedule_title }}</p>

          {% fieldset form.vendor_name %}
          {% fieldset form.is_small_business %}
          {% fieldset form.contractor_site %}

          <div class="date-range {% if form.contract_start.errors or form.contract_end.errors%}fieldset-error{% endif %}">
            {% fieldset form.contract_start %}
            <p>to</p>
            {% fieldset form.contract_end %}
          </div>

          {% fieldset form.escalation_rate %}

          <div class="form-button-row align-left clearfix">
            <div class="submit-group">
              <button type="submit" class="button">Save changes</button>
            </div>

            <a type="submit" class="button button-outline" href="{{ details_without_edit_url }}">Discard changes</a>
          </div>
        </form>
      </div>

      {% if not show_edit_form %}
        <div data-contract-details>
          <div class="row">
            <div class="columns eight">
              {% include "price_lists/_details_list.html" %}
            </div>
          </div>

          <div class="row">
            <div class="columns eight">
              <p><a href="{{ details_with_edit_url }}" class="button" data-edit-btn>Edit</a></p>
              {% if price_list.get_status_display == 'approved' %}
                <p class="help-text">Making changes to these details will remove this price list's data from CALC until an administrator reviews it again.</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns twelve">
            <h3>Valid price list rows</h3>
            {% include 'price_lists/_price_list_rows_table.html' %}
          </div>
        </div>
      {% endif %}

      {% if gleaned_data.invalid_rows %}
        <div class="row">
          <div class="columns twelve">
            <expandable-area>
              <h3>Invalid price list rows</h3>
              <p>These rows are invalid and will not be included in CALC.</p>
              {{ gleaned_data.to_error_table }}
            </expandable-area>
          </div>
        </div>
      {% endif %}
      </div>
    </div><!--card-->
  </div>
{% endblock body %}
