{% extends 'data_capture/base.html' %}

{% block title %}{{ price_list.contract_number }} Price List Details{% endblock %}

{% block body %}
  <div class="container">
    <p><a href="{% url 'data_capture:price_lists' %}">&laquo; Back to your price lists</a></p>

    {% if price_list.get_status_display == 'approved' %}
      <div class="alert alert-success">
        <h3>Approved</h3>
        <p>This price list's data is available in CALC.</p>
      </div>
    {% elif price_list.get_status_display == 'new' %}
      <div class="alert alert-warning">
        <h3>Not yet approved</h3>
        <p>This price list has not yet been reviewed by a CALC Administrator.</p>
      </div>
    {% elif price_list.get_status_display == 'rejected' %}
      <div class="alert alert-error">
        <h3>Rejected</h3>
        <p>This price list has been rejected by a CALC Administrator.</p>
      </div>
    {% elif price_list.get_status_display == 'unapproved' %}
      <div class="alert alert-error">
        <h3>Unapproved</h3>
        <p>This price list has been removed from CALC.</p>
      </div>
    {% endif %}

    <h1>Details for <strong>{{ price_list.vendor_name }}</strong>'s price list</h1>
    <h2>{{ price_list.contract_number }}</h2>

    <div class="row">
      <div class="columns eight">
        {% include "price_lists/_details_list.html" %}
      </div>
    </div>
    <div class="row">
      {% if price_list_rows %}
        <div class="columns twelve">
          <h3>Valid price list rows</h3>
          <table>
            <thead>
              <tr>
                <th>SIN(s)</th>
                <th>Labor category</th>
                <th>Minimum education level</th>
                <th class="number">Minimum years of experience</th>
                <th class="number">Base year rate (per hour)</th>
                <th>Is muted</th>
              </tr>
            </thead>
            <tbody>
              {% for row in price_list_rows %}
                <tr>
                  <td>{{ row.sin }}</td>
                  <td>{{ row.labor_category }}</td>
                  <td>{{ row.get_education_level_display }}</td>
                  <td class="number">{{ row.min_years_experience }}</td>
                  <td class="number currency">{{ row.base_year_rate }}</td>
                  <td>{{ row.is_muted }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      {% if gleaned_data.invalid_rows %}
        <div class="columns twelve">
          <expandable-area>
            <h3>Invalid price list rows</h3>
            <p>These rows are invalid and will not be included in CALC.</p>
            {{ gleaned_data.to_error_table }}
          </expandable-area>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock body %}
