{% extends 'data_capture/base.html' %}
{% load data_capture %}

{% block body_class %}content--skinny{% endblock %}
{% block title %}Price Lists{% endblock %}

{% block body %}
  <div class="container">
    <div class="row card">
      <div class="content">
        <h1>Your price lists</h1>
        <h2 id="approved">Approved price lists</h2>
        <p>Price lists that have their data available in CALC.</p>
        {% if approved_price_lists %}
          <ul class="price-list-list">
            {% for pl in approved_price_lists %}
              <li>
                <a href="{% url 'data_capture:price_list_details' id=pl.pk %}">{{ pl.contract_number }} &mdash; {{ pl.vendor_name }}</a>
                <p class="meta-info">Submitted on {{ pl.created_at|tz_timestamp }}</p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="empty-list-note">None of your price lists have been approved yet.</p>
        {% endif %}
      </div>
    </div><!--card-->
    <div class="row card">
      <div class="content">
        <h2 id="unreviewed">Unreviewed price lists</h2>
        <p>Price lists that have been submitted but that have not yet been reviewed by an administrator.</p>
        {% if unreviewed_price_lists %}
          <ul class="price-list-list">
            {% for pl in unreviewed_price_lists %}
              <li>
                <a href="{% url 'data_capture:price_list_details' id=pl.pk %}">{{ pl.contract_number }} &mdash; {{ pl.vendor_name }}</a>
                <p class="meta-info">Submitted on {{ pl.created_at|tz_timestamp }}</p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="empty-list-note">None of your price lists are awaiting review.</p>
        {% endif %}
      </div>
    </div>
    <div class="row card">
      <div class="content">
        <h2 id="rejected">Rejected price lists</h2>
        <p>Price lists that have been reviewed but rejected by a CALC administrator.<p>
        {% if rejected_price_lists %}
          <ul class="price-list-list">
            {% for pl in rejected_price_lists %}
              <li>
                <a href="{% url 'data_capture:price_list_details' id=pl.pk %}">{{ pl.contract_number }} &mdash; {{ pl.vendor_name }}</a>
                <p class="meta-info">Submitted on {{ pl.created_at|tz_timestamp }}</p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="empty-list-note">None of your price lists have been rejected.</p>
        {% endif %}
      </div>
    </div>
    <div class="row card">
      <div class="content">
        <h2 id="retired">Retired price lists</h2>
        <p>Price lists that were approved but that have since been retired by a CALC administrator.</p>
        {% if retired_price_lists %}
          <ul class="price-list-list">
            {% for pl in retired_price_lists %}
              <li>
                <a href="{% url 'data_capture:price_list_details' id=pl.pk %}">{{ pl.contract_number }} &mdash; {{ pl.vendor_name }}</a>
                <p class="meta-info">Submitted on {{ pl.created_at|tz_timestamp }}</p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="empty-list-note">None of your price lists have been retired.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock body %}
