{% comment %}
It's recommended that DAP not be included in views that
require authentication. For more details, see:

https://github.com/18F/calc/issues/903

We're going to go one further and not include DAP on
any views that happen to be authenticated; this will
be a minority of views because most folks aren't
logged-in to CALC, and it also limits damage if
the DAP server happens to be compromised.
{% endcomment %}

{% if not user.is_authenticated %}
      <!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
      <script async id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&autotracker=false"></script>
{% endif %}
