@import '../base/variables';
.alert {
  padding: 1rem 6rem 1rem 2rem;

  h3 {
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  td, th {
    border-color: $color-gray-dark;

    &:last-child {
      border-right: none;
    }
  }

  td.error {
    border: 2px solid $color-secondary-dark;
    color: $color-secondary-dark;
    font-weight: $font-weight-bold;
  }

  thead th {
    color: $color-black;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: inherit;
    }
    &:hover > * {
      background: inherit !important;
    }
  }
}

.alert-error {
  border: 2px solid $color-secondary-dark;
  h3 {
    color: $color-secondary-dark;
  }
}
