@import '../base/variables.scss';

.button.button-primary,
button.button-primary,
input.button-primary[type="submit"],
input.button-primary[type="reset"],
input.button-primary[type="button"] {
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover,
  &.button-hover {
    background-color: $color-primary-darker;
    border-color: $color-primary-darker;
  }

  &:focus,
  &.button-focus {
    background-color: $color-primary-darker;
    border-color: $color-primary-darker;
    box-shadow: $focus-shadow;
  }

  &:active,
  &.button-active {
    background-color: $color-primary-darkest;
  }
}

[type="submit"]:disabled,
.button-disabled {
  background-color: $color-gray-lighter;
  color: $color-gray-dark;
  cursor: default;
  border: 0;

  &:hover,
  &.button-hover,
  &:active,
  &.button-active,
  &:focus  {
    background-color: $color-gray-lighter;
    border: 0;
    box-shadow: none;
    color: $color-gray-dark;
  }
}
