@import '../base/variables';
@import '../uswds/buttons';

button,
.button,
.button:visited {
  // WDS override
  margin-bottom: 0;
  margin-top: 0;
}
// Need to override Skeleton's default button styling
.button.button-primary,
button.button-primary,
input.button-primary[type="submit"],
input.button-primary[type="reset"],
input.button-primary[type="button"] {
  background-color: $color-primary;
  color: $color-white;
  border: 0;
  //necessary here to override Skeleton's input width
  @include media($small-screen) {
    width: auto;
  }

  &:hover,
  &.button-hover {
    background-color: $color-primary-darker;
    border-color: $color-primary-darker;
  }

  &:visited {
    color: $color-white;
  }

  &:focus,
  &.button-focus {
    background-color: $color-primary-darker;
    border-color: $color-primary-darker;
    box-shadow: $focus-shadow;
  }

  &:active,
  &.button-active {
    background-color: $color-primary-darkest;
  }
}

// More Skeleton overrides
.button.button-secondary,
button.button-secondary,
input.button-secondary[type="submit"],
input.button-secondary[type="reset"],
input.button-secondary[type="button"] {
  border: 0;

  &:hover,
  &.button-hover {
    background-color: $color-secondary-dark;
    border-color: $color-secondary-dark;
  }

  &:visited {
    color: $color-white;
  }

  &:focus,
  &.button-focus {
    background-color: $color-secondary-dark;
    border-color: $color-secondary-dark;
    box-shadow: $focus-shadow;
  }

  &:active,
  &.button-active {
    background-color: $color-secondary-darkest;
  }
}

.button-gray,
.button-gray:hover,
.button-gray:active,
.button-gray:focus {
  color: $color-white;
  border: 0;
}
