
.price-list-alert {
  background-color: $light-red;
}

.price-list-alert-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0;
}

.price-list-alert-text {
  margin-bottom: 0;
}

.price-list-alert-body {
  padding: 1rem 6rem 1rem 2rem;
  position: relative;

  td, th {
    border-color: $dark-gray;
    border-right: 1px solid $dark-gray;

    &:last-child {
      border-right: none;
    }
  }

  td.error {
    border: 2px solid $dark-red;
  }

  thead th {
    color: $black;
  }

  tbody tr:nth-child(odd) {
    background-color: inherit;
  }
}
