@import '../base/variables';
table {
  width: 100%;
  margin-top: 2rem;
  caption {
    color: $color-gray;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1.5em;
    vertical-align: bottom;
  }

  thead {
    th {
      position: relative;
      vertical-align: bottom;
      color: $color-gray;
      border-bottom: 1px solid;
      &.sortable {
        text-decoration: underline;
        cursor: pointer;
        padding-right: 1.5em;
        &:after {
          display: inline-block;
          line-height: 1em;
          height: 1em;
          position: absolute;
          bottom: .4em;
          right: 0;
          margin-top: -.5em;
          margin-right: .25em;
          content: "▽";
          font-weight: normal;
          font-size: .9em;
        }
      }
      &.sorted {
        color: $color-black;
        background: #f8f8f8;
        position: relative;
        &:after {
          content: "▲";
          font-size: 1em;
        }
        &.descending:after {
          content: "▼";
        }
      }
    }
  }
  tbody {
    tr {
      &:hover > * {
        background: $color-gold-lightest !important;
      }
      &:nth-child(odd) {
        background: #f9f9f9;
        td.sorted {
          background: #f0f0f0;
        }
      }
    }
    th {
      font-weight: normal;
    }
  }
}

td,
td:first-child,
td:last-child,
th,
th:first-child,
th:last-child {
  position: relative;
  padding: .25em .5em;
  vertical-align: top;
}

td.sorted {
  background: #fafafa;
}

/*th.collapsible a.toggle-collapse,*/
th.exclude a.restore {
  position: absolute;
  font-size: 1rem;
  padding: 2px 0;
  text-transform: uppercase;
  text-decoration: underline;
  color: $color-gray;
  white-space: nowrap;
  vertical-align: bottom;
  bottom: 100%;
  left: 0;
}

td.column-exclude a {
  color: $color-gray;
  font-size: 1.2em;
  line-height: 1rem;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $color-black;
  }
}

/* Not used because the corresponding JS conflicts with the tooltips. Only here for future reference. */
th.collapsible {
  position: relative;
  &.collapsed {
    width: 0;
    font-size: 0;
  }
  &:last-child a.toggle-collapse {
    left: auto;
    right: 0;
    text-align: right;
  }
}
th.collapsed,
td.collapsed {
  width: 1.5em !important;
  border-left: 1px dotted $color-gray-lightest;
}

