@import '../base/variables';
$color-red-lightest: #fef5f5;
.usa-alert {
  margin: 1rem 0;
  padding: 1rem 6rem 1rem 2rem;
  border-radius: $border-radius;
  background-image: none;
  &::before {
    width: 0;
  }

  h3 {
    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  td, th {
    border-color: $color-gray-dark;

    &:last-child {
      border-right: none;
    }
  }

  thead th {
    color: $color-black;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: inherit;
    }
    &:hover > * {
      background: inherit !important;
    }
  }
}

.usa-alert-error {
  border: 2px solid $color-red-dark;
  background-color: $color-red-lightest;
  h3 {
    color: $color-red-dark;
  }
}

.usa-alert-success {
  background-color: $color-green-lightest;
  border: 2px solid $color-green-darkest; //borders added for consistency with error style
}

.usa-alert-warning {
  background-color: $color-gold-lightest;
  border: 2px solid $color-gold; //borders added for consistency with error style
}

.usa-alert-info {
  background-color: #D2F6FF;
  border: 2px solid $color-primary-alt; //borders added for consistency with error style
}

alerts-widget:focus {
  outline: none;
}

.message-error {
  @extend .usa-alert;
  @extend .usa-alert-error;
  &.no-bg {
    background-color: transparent;
    border: none;
  }
  h3,
  p {
    color: $color-red-dark;
    font-weight: $font-weight-bold;
  }
  h3:before {
    width: $h3-font-size;
    height: $h3-font-size;
    content: url('../../images/icon-warning.svg');
    padding-right: $space-half;
  }
}
.message-success {
  @extend .usa-alert;
  @extend .usa-alert-success;
  h3 {
    color: $color-green-darkest;
    margin-bottom: 0;
  }
}
.message-info {
  @extend .usa-alert;
  @extend .usa-alert-info;
  h3 {
    color: $color-primary-alt-darkest;
    margin-bottom: 0;
  }
}

.alert-submitted-price-lists {
  ul {
    list-style: none;
    margin-bottom: 0;

    > li {
      display: inline-block;
      white-space: nowrap;
      margin-right: 2rem;
    }
  }
}

/* for Django admin */
.messagelist li {
  @extend .usa-alert;
  @extend .usa-alert-info;
}

.messagelist li.success {
  @extend .usa-alert;
  @extend .usa-alert-success;
}

.errornote {
  @extend .usa-alert;
  @extend .usa-alert-error;
}
