// Overrides and extensions of the U.S. Web Design System alerts

@import '../base/variables';
.usa-alert {
  margin: 1rem 0;
  padding: 1rem 6rem 1rem 2rem;
  border-radius: $border-radius;
  background-image: none;
  &::before {
    width: 0;
  }

  h3 {
    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  td, th {
    border-color: $color-gray-dark;

    &:last-child {
      border-right: none;
    }
  }

  thead th {
    color: $color-black;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: inherit;
    }
    &:hover > * {
      background: inherit !important;
    }
  }
}

.usa-alert-error {
  border: 2px solid $color-red-dark;
  background-color: $color-red-lightest;
  // Used for styling paragraphs of error text where a background doesn't make visual sense.
  &.alert__no-bg {
    background-color: transparent;
    border: none;

    h3:before {
      width: $h3-font-size;
      height: $h3-font-size;
      content: url('../../images/icon-warning.svg');
      padding-right: $space-half;
    }
  }

  h3 {
    color: $color-red-dark;
  }
}

.usa-alert-success {
  background-color: $color-green-lightest;
  border: 2px solid $color-green-darkest; //borders added for consistency with error style
}

.usa-alert-warning {
  background-color: $color-gold-lightest;
  border: 2px solid $color-gold; //borders added for consistency with error style
}

.usa-alert-info {
  background-color: $color-blue-lightest;
  border: 2px solid $color-blue-darker; //borders added for consistency with error style
}

alerts-widget:focus {
  outline: none;
}

.alert-submitted-price-lists {
  ul {
    list-style: none;
    margin-bottom: 0;

    > li {
      display: inline-block;
      white-space: nowrap;
      margin-right: 2rem;
    }
  }
}

// These classes are used in the Django admin. They're automatically created
// by Django, so styling them is more straightfoward than renaming them.
.messagelist li {
  @extend .usa-alert;
  @extend .usa-alert-info;
}

.messagelist li.success {
  @extend .usa-alert;
  @extend .usa-alert-success;
}

.errornote {
  @extend .usa-alert;
  @extend .usa-alert-error;
}
