@import '../base/variables';

a.button:hover {
  color: $color-white;
}

button,
.usa-button,
.usa-button-primary,
.usa-button:visited,
[type="submit"],
[type="reset"],
[type="button"],
[type="image"]{
  // WDS override
  margin-bottom: 0;
  margin-top: 0;
  font-size: $small-font-size;
  text-transform: uppercase;
  font-size: $small-font-size; // original is $base-font, which is too large here
  font-weight: $font-weight-bold;
  line-height: 1.7; // adjusted from 1, which makes links show funky

  &:focus {
    box-shadow: $focus-shadow;
  }

  &.usa-button-outline {
    border: 1px solid $color-gray;
    background: $color-white;
    color: $color-gray;
    &:hover,
    &.usa-button-hover {
      border-color: $color-gray-light;
    }
  }
  &.button-footer {
    background-color: $color-white;
    border-radius: 4px;
    color: $color-gray-medium-dark;

    &:hover,
    &.button-hover {
      background-color: $color-gray-lighter;
      color: $color-gray-medium-dark;
    }
  }
}

.usa-button.reset,
input[type="reset"] {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem; //compensates for the 1px border
}

.usa-button-gray,
.usa-button-gray:hover,
.usa-button-gray:active,
.usa-button-gray:focus {
  color: $color-white;
  border: 0;
}

// The WDS used to style secondary buttons in the secondary color,
// but now styles them as outlines. Use the old style.
.usa-button.usa-button-secondary,
a.usa-button.usa-button-secondary,
a:visited.usa-button.usa-button-secondary,
button.usa-button-secondary,
input.usa-button-secondary[type="submit"],
input.usa-button-secondary[type="reset"],
input.usa-button-secondary[type="button"] {
  background-color: $color-secondary;
  color: $color-white;
  box-shadow: none;
  &:hover {
    color: $color-white;
    background-color: $color-secondary-dark;
    box-shadow: none;
  }
}

button.usa-button-link,
input.usa-button-link[type="submit"],
input.usa-button-link[type="reset"],
input.usa-button-link[type="button"] {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  text-decoration: underline;
  color: $color-primary;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &:hover,
  &.usa-button-hover {
    color: $color-primary-darker;
    background-color: transparent;
  }

  &:focus,
  &.usa-button-focus {
    color: $color-primary-darker;
    outline: 1px dotted $color-primary-darker;
    box-shadow: none;
  }

  &:active,
  &.usa-button-active {
    color: $color-primary-darker;
  }
}

.usa-button.usa-button-disabled {
  background-color: $color-gray-lighter;
  cursor: default;
  color: $color-gray;
  &:hover {
    color: $color-gray;
  }
}

.usa-button.usa-button-disabled,
button.usa-button-disabled,
input.usa-button-disabled[type="submit"],
input.usa-button-disabled[type="reset"],
input.usa-button-disabled[type="button"] {
  &:focus {
    outline: 1px dotted $color-gray-dark;
  }
}
