@import '../base/variables';
@import '../uswds/buttons';

a.button:hover {
  color: $color-white;
}

button,
.button,
.button:visited,
[type="submit"],
[type="reset"],
[type="button"] {
  // WDS override
  margin-bottom: 0;
  margin-top: 0;
  font-size: $small-font-size;
  text-transform: uppercase;
  font-weight: $font-weight-bold;

  &:focus {
    box-shadow: $focus-shadow;
  }

  &.button-outline {
    border: 1px solid $color-gray;
    background: $color-white;
    color: $color-gray;
    &:hover,
    &.button-hover {
      border-color: $color-gray-light;
    }
  }
}

.button.reset,
input[type="reset"] {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem; //compensates for the 1px border
}

.button-gray,
.button-gray:hover,
.button-gray:active,
.button-gray:focus {
  color: $color-white;
  border: 0;
}

button.button-link,
input.button-link[type="submit"],
input.button-link[type="reset"],
input.button-link[type="button"] {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
  text-decoration: underline;
  color: $color-primary;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &:hover,
  &.button-hover {
    color: $color-primary-darker;
  }

  &:focus,
  &.button-focus {
    color: $color-primary-darker;
    outline: 1px dotted $color-primary-darker;
    box-shadow: none;
  }

  &:active,
  &.button-active {
    color: $color-primary-darker;
  }
}

.button.button-disabled {
  background-color: $color-gray-lighter;
  cursor: default;
  &:hover {
    color: $color-gray;
  }
}

.button.button-disabled,
button.button-disabled,
input.button-disabled[type="submit"],
input.button-disabled[type="reset"],
input.button-disabled[type="button"] {
  &:focus {
    outline: 1px dotted $color-gray-dark;
  }
}
