aside.js {
  position: fixed;
  background-color: $color-secondary-darkest;
  color: $color-white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;

  form {
    margin-bottom: 0;
  }

  button {
    margin: 0 0 0 1em;
    float: right;
  }
}

aside.js.js-enable {
  background-color: rgba(0, 0, 0, 0.8);
}
