@import '../base/variables';

footer {
  background: #cddc86; //add a variable for this
  background-image: url(../../images/background-footer.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-top: 4px solid $color-white;
  padding-bottom: $space-4x; //to create "stacked" look
  padding: 4rem 0 4rem 0;

  a {
    color: $color-base;
  }

  h2 {
    font-size: 1.8rem;
    letter-spacing: 0;
    font-weight: $font-weight-bold;
    margin-bottom: .1em;
  }

}

.divider_footer {
  border-left: 1px solid #a0ad64; //add a variable for this
  padding-left: 3rem;
}

.footer_extra {
  margin-top: 3rem;
}

#logos {
  float: right;
  a {
    display: inline-block;
    margin-left: $space-2x;
    margin-top: 2rem;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
