@import '../base/variables';

footer {
  background: #cddc86; //add a variable for this
  background-image: url(../../images/background-footer.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-top: 4px solid $color-white;
  padding: $space-8x 0 4rem 0;

  a {
    color: $color-base;
    &:visited {
      color: $color-base; //WDS override
    }
  }

  h2 {
    font-size: 1.8rem;
    letter-spacing: 0;
    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: .1em;
  }
}

.footer__divider {
  border-left: 4px solid #a0ad64;
  padding-left: 3rem;
}

.footer__bottom-links {
  margin-top: $space-3x;

  p {
    &:last-child {
    margin-bottom: 0;
    }
  }
}

#logos {
  float: right;
  a {
    display: inline-block;
    margin-left: $space-2x;
    margin-top: 2rem;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
