@import '../base/variables';

footer {
  color: $color-white;
  background: $color-gray-medium-dark;
  padding: 4rem 0 4rem 0;
  line-height: 1.4;
  font-weight: $font-weight-light;
  @include antialias();

  a {
    color: $color-white;
    &:hover,
    &:active {
      color: $color-white;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1.8rem;
    letter-spacing: 0;
    font-weight: $font-weight-bold;
    margin-bottom: .1em;
  }

}

.divider_footer {
  border-left: 1px solid $color-gray-light;
  padding-left: 3rem;
}

.footer_extra {
  margin-top: 3rem;
}

#logos {
  text-align: right;
  a {
    display: inline-block;
    margin-left: 1rem;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
