@import '../base/variables';
@import '../base/utils';

legend {
  font-size: $base-font-size;
}

.filter-block {
  .dropdown {
    margin-bottom: 0;
  }
  .filter {
    padding-top: 2rem;
  }
  label {
    margin-top: 0; //WDS override
    font-weight: $font-weight-bold;
    font-size: $small-font-size;
  }
}

label input[type="radio"] {
  width: auto; // WDS override for width: 100%;
}

.form-note {
  float: right;
  font-family: $font-family-main;
  font-size: $h5-font-size;
  margin: 0 0 1.5rem;

  & + * {
    clear: both;
  }
}

.additional_text {
  float: right;
  font-style: italic;
  font-weight: normal;
}

.input-buttons-inline {
  button,
  button[type="submit"],
  input[type="submit"],
  & > * {
    display: inline;
    margin-right: 1.5em;
  }
}

// Hack to style Django radio buttons, which occur in a <ul>.
form ul {
  list-style-type: none;
}

fieldset {
  max-width: 53rem;
  ul {
    margin-bottom: 0;
    li:last-child {
      margin-bottom: 0;
    }
  }
}

fieldset + fieldset,
fieldset ~ fieldset,
fieldset + div + fieldset {
  margin-top: 3rem;
}


// Django's default form rendering uses a <ul class="errorlist">
// for errors, and <span class="helptext"> for help text.
fieldset.fieldset-error {
  border-left: 3px solid $color-red-dark;
  margin: 3rem 0 0 -10px;
  padding: 10px;
  ul {
    margin-bottom: 0;
  }
  label {
    margin-top: 0;
    padding-top: 0.3rem;
  }
  input,
  input[type],
  select,
  textarea {
    border: 3px solid $color-red-dark;
    padding: 1rem 0.45em; // WDS override
  }
}

form > .fieldset-error {
  margin-bottom: 3rem;
}

.errorlist {
  color: $color-red-dark;
  font-weight: 700;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 0; // ul override
  text-align: left;
  font-family: $font-family-main;

  li {
    margin-bottom: 0;
  }
}

// Applied by form-validation.js as an enhancement for html5 validation styles
.form--invalid:not(.usa-input-inline) {
  border: 3px solid $color-red-dark;
}

.fieldset__form--invalid {
  border-left: 3px solid $color-red-dark;
  margin: 3rem 0 0 -10px;
  padding: 10px;
}

p.form--invalid__message {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-bold;
  color: $color-red-dark;
}


.helptext {
  color: $color-gray;
  font-size: $small-font-size;
  display: block;
  margin-top: 0.8em;
  margin-bottom: 0;
}

.date-range {
  margin-bottom: 2.5rem;
  fieldset {
    margin-top: 3rem;
    display: inline-block;
    .usa-form-group:last-child {
      margin-right: 0;
    }
  }
}

dl.contract-details {
  list-style-type: none;
  padding: 0;
  font-size: $h4-font-size;
  margin-bottom: 0;
  margin-top: 0;
  overflow: auto;

  dt, dd {
    float: left;
  }

  dt {
    clear: both;
    margin-bottom: 0.5rem;

    &:after {
      content: ': '
    }
  }

  dd {
    font-weight: $font-weight-bold;
    margin-left: 5px;

    &.contract-details__start-date:after {
      font-weight: normal;
      content: ' to ';
    }
  }
}

.search-group {
  display: flex;
  padding: 0;
  margin-top: $space-1x;
  margin-bottom: 7px;
   input {
    border: 0;
    &[type].form__inline,
    &[type].form__inline~button:first-of-type,
    &[type].form__inline~.usa-button {
      margin: 0;
    }
    &[type].form__inline {
      flex-grow: 6;
      max-width: 100%; // WDS override
      border-radius: $border-radius 0 0 $border-radius;
      border-top: 1px solid $color-gray;
      border-right: none;
      border-left: 1px solid $color-gray;
      border-bottom: 1px solid $color-gray;
    }
    button {
      flex-grow: 1;
    }
  }
}

/* search -- inline form + button
 * input[type=search] rule is for admin page searches, e.g. users or groups
 * .actions label select rule is for admin page action dropdown on users/groups */
input[type].form__inline,
.form__inline input[type=search],
.actions label select {
  height: 40px;
  display: block;
  margin: 1rem 0;
  float: left;
  box-sizing: border-box;
  border-right: none;
  border-radius: $border-radius 0 0 $border-radius;
  &.filter_active {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  /* input[type=submit] used on admin page searches
   * .select-across ~ button used on admin page dropdowns w/in .actions block */
  ~ .usa-button,
  ~ button,
  ~ input[type=button],
  ~ input[type=submit],
  input.select-across ~ button[type=submit]{
    height: 40px;
    margin: 1rem 0;
    display: block;
    box-sizing: border-box;
    float: left;
    &.reset {
      margin-left: 1rem;
    }
  }
  // only square the corners of the first button to make it butt up against the
  // input -- relevant on homepage search
  ~ .usa-button:first-of-type,
  ~ button:first-of-type,
  ~ input[type=button]:first-of-type,
  ~ input[type=submit],
  input.select-across ~ button[type=submit] {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

label[for=query_type_match_exact] {
  max-width: 13rem;
}

.html-dropdown {
  display: inline-block;
  background: $color-gray-lightest;
  border-radius: $border-radius;

  button {
    width: auto;
    min-width: 100%;
    background-position: right 1.4rem top 1.6rem;
    background-repeat: no-repeat;
    background-size: 1em;
    border-radius: $border-radius;
    background-color: transparent;
    color: $color-base;
    margin-right: 0;
    padding-right: $space-6x;
    text-align: left;
    &:hover {
      background-color: $color-gray-lighter;
      color: $color-base;
    }
    &[aria-expanded=false] {
      background-image: url(../../images/arrow-down-gray.svg);
    }
    &[aria-expanded=true] {
      background-image: url(../../images/arrow-up-gray.svg);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  li {
    margin-bottom: 0; // WDS override
  }
}

.search .html-dropdown {
  position: absolute; // to force it to pop over the data explorer search

  // allot for data explorer search dropdown
  + .search-group {
    margin-top: 5.6rem;
  }
}


.html-dropdown__trigger {
  padding: $space-3x/2 3.5rem $space-3x/2 $space-3x/2;
  font-size: $base-font-size;
  span {
    margin-left: $space-half;
    font-weight: normal;
  }
}

.html-dropdown__choices {
  z-index: 9999;
  padding: 0; // ul override
  color: $color-gray-dark;
  background: $color-gray-lightest;
  border-bottom: 3px solid $color-gray-light;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  h3 {
    font-size: $base-font-size;
    color: $color-base;
    margin: $space-1x 1.2rem $space-half 1.2rem; // same as html-dropdown__trigger text
    padding-top: $space-1x;
    &:first-of-type {
      border-top: 1px solid $color-gray-light;
      margin-top: 0;
      padding-top: $space-3x;
    }
  }

  p {
    display: block;
    border-top: 1px solid $color-gray-light;
    margin: $space-1x 1.2rem $space-half 1.2rem; // same as html-dropdown__trigger text
    padding-top: $space-3x;
    padding-bottom: 0;
  }

  label {
    margin-bottom: $space-1x;
    margin-top: $space-1x;
  }

  // search by vendor and contract are buttons
  button {
    display: block;
    font-weight: normal;
    text-align: left;
    padding: $space-half $space-1x $space-half 4.4rem; // same as the input + padding + ::before on li labels
    font-size: $base-font-size;
    color: $color-gray-dark;
    -webkit-font-smoothing: auto;
    line-height: $space-3x;
    &.query-by__selected {
      padding: $space-half $space-2x; // to offset span
      color: $color-black;
      span {
        background-image: url(../../images/icon-checkmark-floating.svg);
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-left: 3px; // margin matches WDS radio ::before class, which is used elsewhere for dropdown choices
        margin-right: .75em;
      }
    }
  }

  li {
    padding: $space-half $space-2x;
    &:hover {
      background-color: $color-gray-lighter;
    }
    &:last-of-type {
      padding-bottom: $space-2x;
    }
    label {
      margin-bottom: 0; // default style override
    }
  }

  &[aria-hidden=true] {
    display: none;
  }

  ul {
    margin: 0; // override standard margins
  }

  // override the WDS standard radio buttons
  [type=radio]:checked + label::before,
  label::before {
    box-shadow: none;
    background-color: transparent;
    border-radius: 0; // otherwise background image is cut off
  }

  [type=radio]:checked + label {
    color: $color-black;
    &::before {
      background-image: url('../../images/icon-checkmark-floating.svg');
      background-repeat: no-repeat;
    }
  }
}

.label__suffix {
  font-size: $small-font-size;
  padding-left: $space-half;
}

// WDS override for date groupings
input[type="number"] {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
