@import '../base/variables';

.form-button-row {
  position: relative;
  margin-top: 4rem;

  button,
  button[type="submit"],
  .button {
    display: inline-block;
    margin: 0 2em 0 0;
  }

  .submit-group {
    display: inline-block;

    button,
    .button {
      margin: 0;
    }
  }

  .submit-label {
    display: inline-block;
    height: 38px;
    color: $color-gray-medium;
    margin-left: 1em;
    max-width: 160px;
    font-size: $small-font-size;
    line-height: $small-line-height;
  }
}
