@import '../base/variables';
@import '../base/utils';

legend {
  font-size: $base-font-size;
}

.filter-block {
  .dropdown {
    margin-bottom: 0;
  }
  .filter {
    padding-top: 2rem;
  }
  label {
    margin-top: 0; //WDS override
    font-weight: $font-weight-bold;
    font-size: $small-font-size;
  }
}

label input[type="radio"] {
  width: auto; // WDS override for width: 100%;
}

.form-note {
  float: right;
  font-family: $font-family-main;
  font-size: $h5-font-size;
  margin: 0 0 1.5rem;

  & + * {
    clear: both;
  }
}

.additional_text {
  float: right;
  font-style: italic;
  font-weight: normal;
}

.input-buttons-inline {
  button,
  button[type="submit"],
  input[type="submit"],
  & > * {
    display: inline;
    margin-right: 1.5em;
  }
}

// Hack to style Django radio buttons, which occur in a <ul>.
form ul {
  list-style-type: none;
}

fieldset {
  max-width: 53rem;
  ul {
    margin-bottom: 0;
    li:last-child {
      margin-bottom: 0;
    }
  }
}

fieldset + fieldset,
fieldset ~ fieldset,
fieldset + div + fieldset {
  margin-top: 3rem;
}


// Django's default form rendering uses a <ul class="errorlist">
// for errors, and <span class="helptext"> for help text.
fieldset.fieldset-error {
  border-left: 3px solid $color-red-dark;
  background-color: #fef5f5;
  margin: 3rem 0 0 -10px;
  padding: 10px;
  ul {
    margin-bottom: 0;
  }
  label {
    margin-top: 0;
    padding-top: 0.3rem;
  }
  input,
  input[type],
  select,
  textarea {
    border: 3px solid $color-red-dark;
    padding: 1rem 0.45em; // WDS override
  }
}

form > .fieldset-error {
  margin-bottom: 3rem;
}

.errorlist {
  color: $color-red-dark;
  font-weight: 700;
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-left: 0; // ul override
  text-align: left;
  font-family: $font-family-main;

  li {
    margin-bottom: 0;
  }
}

.helptext {
  color: $color-gray;
  font-size: $small-font-size;
  display: block;
  margin-top: 0.8em;
  margin-bottom: 0;
}

.date-range {
  margin-bottom: 2.5rem;
  fieldset {
    margin-top: 3rem;
    display: inline-block;
    .usa-form-group:last-child {
      margin-right: 0;
    }
  }
  p {
    display: inline-block;
    padding: 0px 40px;
    vertical-align: bottom;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

dl.contract-details {
  list-style-type: none;
  padding: 0;
  font-size: $h4-font-size;
  margin-bottom: 0;
  margin-top: 0;
  overflow: auto;

  dt, dd {
    float: left;
  }

  dt {
    clear: both;
    margin-bottom: 0.5rem;

    &:after {
      content: ': '
    }
  }

  dd {
    font-weight: $font-weight-bold;
    margin-left: 5px;

    &.contract-details__start-date:after {
      font-weight: normal;
      content: ' to ';
    }
  }
}

/* search -- inline form + button
 * input[type=search] rule is for admin page searches, e.g. users or groups
 * .actions label select rule is for admin page action dropdown on users/groups */
input[type].form__inline,
.form__inline input[type=search],
.actions label select {
  height: 40px;
  display: block;
  margin: 1rem 0;
  float: left;
  box-sizing: border-box;
  border-right: none;
  border-radius: $border-radius 0 0 $border-radius;
  &.filter_active {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  /* input[type=submit] used on admin page searches
   * .select-across ~ button used on admin page dropdowns w/in .actions block */
  ~ .usa-button,
  ~ button,
  ~ input[type=button],
  ~ input[type=submit],
  input.select-across ~ button[type=submit]{
    height: 40px;
    margin: 1rem 0;
    display: block;
    box-sizing: border-box;
    float: left;
    &.reset {
      margin-left: 1rem;
    }
  }
  // only square the corners of the first button to make it butt up against the
  // input -- relevant on homepage search
  ~ .usa-button:first-of-type,
  ~ button:first-of-type,
  ~ input[type=button]:first-of-type,
  ~ input[type=submit],
  input.select-across ~ button[type=submit] {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

// WDS override for date groupings
input[type="number"] {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
