@import '../base/variables';
@import '../uswds/forms';


legend {
  font-size: $base-font-size;
}

.filter-block {
  .dropdown {
    margin-bottom: 0;
  }
  .filter {
    padding-top: 2rem;
  }
  label {
    margin-top: 0; //WDS override
    font-weight: $font-weight-bold;
  }
}

label input[type="radio"] {
  width: auto; // WDS override for width: 100%;
}

/* A <ul> holds a Django-rendered list of radio buttons. */

form ul {
  list-style-type: none;
}

fieldset {
  max-width: 53rem;
  ul {
    margin-bottom: 0;
    li:last-child {
      margin-bottom: 0;
    }
  }
}

fieldset + fieldset,
fieldset ~ fieldset,
fieldset + div + fieldset {
  margin-top: 3rem;
}


/* Django's default form rendering uses a <ul class="errorlist">
   for errors, and <span class="helptext"> for help text. */
fieldset.fieldset-error {
  border-left: 3px solid $color-secondary-dark;
  background-color: #fef5f5;
  margin: 3rem 0 0 -10px;
  padding: 10px;
  ul {
    margin-bottom: 0;
  }
  label {
    margin-top: 0;
    padding-top: 0.3rem;
  }
  input,
  input[type],
  select,
  textarea {
    border: 3px solid $color-secondary-dark;
  }
}

form > .fieldset-error {
  margin-bottom: 3rem;
}

.errorlist {
  color: $color-secondary-dark;
  font-weight: 700;
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-left: 0; // ul override
  text-align: left;
  font-family: $font-family-main;

  li {
    margin-bottom: 0;
  }
}

.helptext {
  color: $color-gray;
  display: block;
  margin-bottom: 0;
}

.date-range {
  margin-bottom: 2.5rem;
  fieldset {
    display: inline-block;
    .form-group:last-child {
      margin-right: 0;
    }
  }
  p {
    display: inline-block;
    padding: 0px 40px;
    vertical-align: bottom;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

dl.contract-details {
  list-style-type: none;
  padding: 0;
  font-size: $h4-font-size;
  margin-bottom: 0;
  margin-top: 0;

  dt, dd {
    float: left;
  }

  dt {
    clear: both;
    margin-bottom: 0.5rem;

    &:after {
      content: ': '
    }
  }

  dd {
    font-weight: $font-weight-bold;
    margin-left: 5px;

    &.contract-details__start-date:after {
      font-weight: normal;
      content: ' to ';
    }
  }
}

/* search -- inline form + button */
input[type].form__inline {
  display: inline-block;
  margin: 1rem 0;
  float: left;
  border-right: none;
  &.filter_active {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    ~ .button,
    ~ button,
    ~ input[type=button] {
      /*padding-top: 1.1rem;*/
      /*padding-bottom: 1.1rem; // to accommodate extra border*/
    }
  }
  ~ .button,
  ~ button,
  ~ input[type=button] {
    margin: 1rem 0;
    display: inline-block;
  }
}
