@import '../base/variables';

#banner {
  color: $color-gray-lighter;
  font-size: 85%;
  background: $color-gray-dark;
  padding: .2rem 0;
  text-align: center;
  p {
    margin: 0;
  }
  #usa img {
    vertical-align: baseline;
    position: relative;
    top: 1px;
    margin-right: .3rem;
  }
  @include media($medium-screen) {
    text-align: left;
    #usa {
      float: left;
    }
    #site-status {
      float: right;
      a {
        color: $color-primary-alt;
      }
    }
  }
}

header {
  color: $color-white;
  background: $color-primary-darker;
  background-image: url(../../images/background-header.png);
  background-repeat: repeat;
  background-size: auto 100%;
}

.base-header {
  display: flex;
  margin-top: 1.6rem;
  + .row {
    margin-top: 1.6rem;
  }
}

.logo {
  display: inline-block;
  width: 140px;
  padding-bottom: 0;
}
.description-main {
  color: $color-white;
  font-size: $h1-font-size;
  font-weight: $font-weight-normal;
  margin-bottom: .3em;
}
.description-secondary {
  color: rgba(255,255,255,.6);
  font-size: $h4-font-size;
  font-weight: $font-weight-normal;
  letter-spacing: normal;
  margin-bottom: 2em;
}

.price-callout {
  p {
    position: relative;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 40px;
    opacity: 1;
    &:last-child {
      color: rgba(255,255,255,.6);
      font-weight: 300;
    }
  }
  .icon {
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    opacity: 0.6;
    &.icon-ceiling {
      background-image: url('../../images/price-callout/roof.png');
      background-size: 40px;
      width: 45px;
    }
    &.icon-fully-burdened {
      background-image: url('../../images/price-callout/mule.png');
      background-size: 33px;
    }
    &.icon-professional-services {
      background-image: url('../../images/price-callout/briefcase.png');
      background-size: 28px;
    }
    &.icon-worldwide-rates {
      background-image: url('../../images/price-callout/globe.png');
      background-size: 28px;
    }
  }
}

.user-id {
  margin: 0 0 0.8rem 0;
  float: right;
  font-size: $base-font-size;
  font-weight: bold;
  text-align: right;

  > a {
    color: $color-white;
  }
}
.user-id__logout a {
  color: $color-primary-alt;
  font-size: $small-font-size;
  text-decoration: underline;
  font-weight: normal;
}

nav {
  position: relative;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  ul {
    @include span-columns(8 of 12);
    @include shift(2);
    list-style: none;
    text-align: center;
    color: $color-white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 $space-4x;
      &:first-child {
        margin-left: 0rem;
      }
      &:last-child {
        margin-right: 0rem;
      }
      &.selected {
        border-bottom: $space-1x solid $color-primary-alt;
        a {
          display: block;
          padding-bottom: $space-half;
          &:hover {
            border-bottom-color: $color-primary-alt-dark;
          }
        }
      }
      a {
        font-weight: normal;
        font-size: $small-font-size;
        text-transform: uppercase;
        color: $color-white;
        /*padding: 0.5rem 1.5rem;*/
        text-decoration: none;
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .logo-container {
  }

  nav {
    margin-left: -20px; // to account for container padding
    ul {
      padding: 1rem;
      margin-top: 1rem;
      width: 100%;
      .nav-user-id {
        max-width: 400px;
      }
    }
  }
}
