@import '../base/variables';

legend {
  font-size: $base-font-size;
}

input[type="radio"] + label {
  margin-top: 0;
}

label {
  font-weight: 700;
  margin-top: 0;
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select {
  border-radius: $border-radius;
}

select {
  border-radius: $border-radius;
  background-image: none !important;
  &.select-small {
    background-position: right 1rem center;
    padding: 0.34em;
  }
}

input[name="escalation_rate"] {
  width: 9rem;
}
