@import '../base/variables';
@import '../base/grid';
$background-color: $color-gray-lightest;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;
}

main {
  // https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
  flex: 1 0 auto;
  margin-top: -$space-4x; //to create "stacked" look
}

.secondary-step h1 {
  font-size: $h3-font-size;
}

/* Top level classes go in {% body_class %} */
.content--narrow {
  header,
  main,
  footer {
    @include span-columns(8);
    @include shift(2);
  }
}

.card {
  background-color: $color-white;
  padding: $space-8x 0;
  border-bottom: $space-half solid $background-color;

  &:last-child {
    border-bottom-color: $color-gray-light; // TODO: This is not getting picked up for some reason.
  }
}

.card__footer {
  padding: $space-half 0;
  margin-bottom: $space-10x;
  margin-top: -$space-10x; //ugh this is dumb
  // hackity spacing hackity hack
  > * {
    padding-top: $space-10x;
  }
  button.usa-button-link {
    margin-top: $space-half;
    font-size: $small-font-size;
    padding: 0;
  }
}

// Formerly .content--wide; now default style
header,
main,
footer {
  // .container can be used anywhere. Only target top-level ones.
  > .container {
    // .row can also be used anywhere; target just top-level classes.
    > .row,
    .card,
    .card__footer {
      @include span-columns(12);
      .content {
        @include span-columns(10 of 12);
        @include shift-in-context(1 of 12);
      }
    }
  }
}

.content--skinny {
  header,
  main {
    // .container can be used anywhere. Only target top-level ones.
    > .container {
      // .row can also be used anywhere; target just top-level classes.
      nav,
      .card,
      .card__footer {
        @include span-columns(12);
        @media screen and (min-width: $medium-large-screen) {
          @include span-columns(8);
          @include shift(2);
        }
        .content {
          @include span-columns(10 of 12);
          @include shift-in-context(1 of 12);
          @media screen and (min-width: $medium-large-screen) {
            @include span-columns(6 of 8);
            @include shift-in-context(1 of 8);
          }
        }
      }
    }
  }
}

.card .content:first-child h2:first-child {
  // The first header on a card has too much space.
  margin-top: 0;
}

/* Also a "body class." Used in conjunction with the above. */
.card--no-header {
  .card:first-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .card:nth-child(2) {
    padding-top: 0;

    h3 {
      margin-top: 0; // alert h3
    }
  }
}

.card--half-padding {
  .card {
    padding: $space-4x 0;
  }
}

.price-list__status-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  h2 {
    margin: 0;
  }
  h1, p {
    flex: 1 100%;
  }
}
