@import '../base/variables';
@import '../base/grid';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-gray-lightest;
}

main {
  // https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
  flex: 1 0 auto;
}

.secondary-step h1 {
  font-size: $h3-font-size;
}

.card {
  @include span-columns(8);
  @include shift(2);
  background-color: $color-white;
  padding: $space-8x 0;
  margin-bottom: $space-half;

  &:last-child {
    border-bottom: $space-half solid $color-gray-light;
  }
}

.card__content {
  @include span-columns(6 of 8);
  @include shift-in-context(1 of 8);
}

.card__footer {
  @include span-columns(8);
  @include shift(2);
  padding: $space-half 0;
  margin-bottom: $space-10x;
  button.button-link {
    font-size: $small-font-size;
    padding: 0;
  }
}
