// The "steps" widget that displays when uploading a price list.
// Read more: https://calc-dev.app.cloud.gov/styleguide/#steps-widget

@import '../base/variables';

@keyframes step-fade-in {
  to {
    background-color: $color-blue-dark;
    color: $color-white;
  }
}

@supports ((animation-name: test) and (animation-fill-mode: forwards)) {
  ol.steps li + li.current::before {
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-name: step-fade-in;
    animation-fill-mode: forwards;
    background-color: $color-white;
    color: $color-blue-dark;
  }
}

.step-bar {
  label {
    font-weight: 100;
    margin-top: 0.2rem;
    font-size: 1.4rem;
    line-height: 1.2;
    color: $color-blue-dark;
    font-weight: $font-weight-bold;
  }
}

ol.steps {
  /*max-width: 200px;*/
  counter-reset: li;
  font-weight: 300;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  margin-top: 2rem;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  li {
    list-style: none;
    border-top: 2px solid $color-blue-dark;
    padding-top: 14px;
    position: relative;
    float: left;
    width: 46px; // width of :before psuedoclass + $space-3x (22px + 24px)

    &:before {
      content: counter(li);
      counter-increment: li;
      width: 2.2rem;
      height: 2.2rem;
      padding: 0;
      position: absolute;
      top: -12px;
      left: 0px;
      background-color: $color-blue-dark;
      color: $color-white;
      border-radius: 30px;
      border: 2px solid $color-blue-dark;
      text-align: center;
      font-size: 80%;
      font-weight: 700;
    }

    &.current ~ li::before {
      background-color: $color-white;
      color: $color-blue-dark;
    }

    &:last-child {
      border-color: transparent;
    }
  }
}
