@import '../base/variables';

/* Something about the animation interferes with hover state. Needs research. */
//@keyframes step-fade-in {
  //to {
    //background-color: $color-green-light;
    //border-color: $color-green-light;
    //color: $color-base;
  //}
//}

//@supports ((animation-name: test) and (animation-fill-mode: forwards)) {
  ol.steps li + li.current::before {
    //animation-duration: 1s;
    //animation-delay: 0.25s;
    //animation-name: step-fade-in;
    //animation-fill-mode: forwards;
    background-color: $color-green-light;
    border-color: $color-green-light;
    color: $color-base;
    content: counter(li);
  }
//}

.step-bar {
  label {
    font-weight: 100;
    margin-top: 0.2rem;
    font-size: 1.4rem;
    line-height: 1.2;
    color: $color-gray-dark;
    font-weight: $font-weight-bold;
  }
}

ol.steps {
  counter-reset: li;
  font-weight: 300;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  margin-top: 2rem;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  li {
    list-style: none;
    border-top: 2px solid $color-gray-lighter;
    padding-top: 14px;
    position: relative;
    float: left;
    width: 46px; // width of :before psuedoclass + $space-3x (22px + 24px)

    &::before {
      content: '*';
      counter-increment: li; // This must be here, otherwise incrementing will start with .current step
      width: 2.2rem;
      height: 2.2rem;
      padding: 0;
      position: absolute;
      top: -12px;
      left: 0px;
      background-color: $color-gray-lighter;
      color: $color-gray-dark;
      border-radius: 30px;
      border: 2px solid $color-gray-lighter;
      text-align: center;
      font-size: 80%;
      font-weight: 700;
    }

    &:hover::before,
    &.current:hover::before {
      background-color: $color-white;
      border-color: $color-gray-lighter;
      content: counter(li);
    }

    &.current ~ li::before {
      background-color: $color-white;
      color: $color-gray-dark;
      content: counter(li);
    }

    &:last-child {
      border-color: transparent;
    }
  }
}
