// The "steps" widget that displays when uploading a price list.
// Read more: https://calc-dev.app.cloud.gov/styleguide/#steps-widget

@import '../base/variables';

ol.step-bar__bubbles li.current a {
  background-color: $color-green-light;
  border-color: $color-green-light;
  color: $color-base;
  &::before {
    content: counter(li);
  }
  &:hover {
    background-color: $color-green-light;
    border-color: $color-green-light;
    color: $color-base;
  }
}

ol.step-bar__labels {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  li {
    display: none;
    font-weight: 100;
    margin-top: 0.2rem;
    font-size: 1.4rem;
    line-height: 1.2;
    color: $color-gray-dark;
    font-weight: $font-weight-bold;
    &.js-show {
      display: block;
    }
  }
}

ol.step-bar__bubbles {
  counter-reset: li;
  font-weight: 300;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  margin-top: 2rem;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  li {
    list-style: none;
    border-top: 3px solid $color-gray-lighter;
    padding-top: 14px;
    position: relative;
    float: left;
    width: 38px; // width of `a` tag bubble + margin (26px + 12px)

    a {
      width: 2.6rem;
      height: 2.6rem;
      display: inline-block;
      padding-top: .1rem;
      position: absolute;
      top: -15px;
      left: 0px;
      background-color: $color-gray-lighter;
      color: $color-gray-dark;
      border-radius: 30px;
      border: 3px solid $color-gray-lighter;
      text-align: center;
      font-size: 80%;
      font-weight: 700;
      text-decoration: none;

      &::before {
        content: url('../../images/icon-step-checkmark.svg');
        // This must be here, otherwise incrementing will start with .current step
        counter-increment: li;
      }
    }

    a:hover {
      background-color: $color-gray-lighter;
      border-color: $color-gray-lighter;
      color: $color-gray-dark;
      &::before {
        content: counter(li);
      }
    }

    &.current ~ li a {
      background-color: $color-white;
      color: $color-gray-dark;
      &::before {
        content: counter(li);
      }
      &:hover {
        background-color: $color-gray-lighter;
      }
    }

    &:last-child {
      border-color: transparent;
    }
  }
}
