@import '../base/variables';

.swatch {
  float: left;
  margin: 8px 8px 32px;
}

.swatch__color {
  height: 12rem;
  width: 12rem;
  margin-bottom: 6px;

  &.color-gray-darkest {
    background-color: $color-gray-darkest;
  }

  &.color-gray-darker {
    background-color: $color-gray-darker;
  }

  &.color-gray-dark {
    background-color: $color-gray-dark;
  }

  &.color-gray {
    background-color: $color-gray;
  }

  &.color-gray-medium {
    background-color: $color-gray-medium;
  }

  &.color-gray-light {
    background-color: $color-gray-light;
  }

  &.color-gray-lighter {
    background-color: $color-gray-lighter;
  }

  &.color-gray-lightest {
    background-color: $color-gray-lightest;
  }
}

.swatch__key span {
  display: block;
  float: left;
  margin-top: $space-4x;
  margin-bottom: $space-6x;
}

.swatch__contrast-ok {
  color: $color-green-darkest;
  &::before {
    content: "";
    background-image: url('/static/frontend/images/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.6rem;
    display: block;
    float: left;
    width: 2.3rem;
    height: 2rem;
    margin-left: 1.6rem;
  }
}

.contrast-ok {
  color: $color-green-darkest;
  &::before {
    content: "";
    background-image: url('/static/frontend/images/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.3rem;
    display: block;
    float: left;
    width: 1.8rem;
    height: 2rem;
  }
}

.contrast-bad {
  color: $color-red-dark;
  &::before {
    content: "";
    background-image: url('/static/frontend/images/icon-warning.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.3rem;
    display: block;
    float: left;
    width: 1.8rem;
    height: 2rem;
  }
}

.swatch__contrast-bad {
  color: $color-red-dark;
  &::before {
    content: "";
    background-image: url('/static/frontend/images/icon-warning.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.6rem;
    display: block;
    float: left;
    width: 2.3rem;
    height: 2rem;
    margin-left: 1.6rem;
  }
}

.swatch__label {
  font-family: $font-family-mono;
  color: $color-gray;

  p {
  font-size: $medium-font-size;
  margin-top: .5rem;
  margin-bottom: 0;
  }

  .contrast-bad,
  .contrast-ok,
  .swatch__hex {
    font-size: $small-font-size;
  }
}
