// A variety of table styles.

@import '../base/variables';

table {
  width: 100%;
  margin-top: 2rem;
  font-size: $medium-font-size;
  border: none; // WDS override
  caption {
    color: $color-gray;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1.5em;
    vertical-align: bottom;
  }
  p {
    font-size: $medium-font-size;
    margin: 0;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: #f9f9f9;
        td.sorted {
          background: #f0f0f0;
        }
      }
    }
    th {
      /* for ths within tbodys */
      font-weight: $font-weight-normal;
    }
  }
  td,
  th {
    border: none; // WDS override
    background: transparent; // WDS override
  }
  th {
    font-weight: $font-weight-bold;
    /* the front page table headers are spans with the .tooltipstered class */
    span:not(.tooltipstered) {
      display: block;
      font-weight: $font-weight-normal;
    }
  }

  /* NOTE: #result_list is for Django admin changelists */
  &.sortable,
  &.price-list-table,
  &#result_list {
    thead {
      th {
        position: relative;
        vertical-align: top;
        color: $color-gray;
        border-bottom: 2px solid;
        border-top: 2px solid;
        &.sortable {
          text-decoration: underline;
          cursor: pointer;
          padding-right: 1.5em;
          padding-bottom: 1.3em;
          &:after {
            display: inline-block;
            line-height: 1em;
            height: 1em;
            position: absolute;
            padding-right: 0;
            margin-top: -.5em;
            margin-right: .25em;
            font-weight: normal;
            font-size: .9em;
          }
        }
        &.number {
          text-align: right;
        }
        &.sorted {
          color: $color-black;
          background: #f8f8f8;
          position: relative;
          &:after {
            content: "▲";
            font-size: .9em;
            padding-left: $space-half;
            position: relative;
          }
          &.descending:after {
            content: "▼";
            position: relative;
          }
        }
      }
    }
  }

  &.hoverable {
    tbody {
      tr {
        &:hover > * {
          background: $color-gold-lightest !important;
        }
      }
    }
  }
}
.price-list-table {
  td,
  td:first-child,
  td:last-child,
  th,
  th:first-child,
  th:last-child {
    position: relative;
    padding: $space-2x $space-1x;
  }
  td {
    vertical-align: top;
  }
}

.results-table_return-link {
  font-weight: $font-weight-bold;
  text-align: right;
}

.sortable {
  td,
  td:first-child,
  td:last-child,
  th,
  th:first-child,
  th:last-child {
    position: relative;
    padding: $space-2x $space-1x;
    vertical-align: top;
  }
}

td.sorted {
  background: #fafafa;
}

/* used on price list upload error page */
td.error {
  color: $color-red-dark;
  font-weight: $font-weight-bold;
  span {
    line-height: 1.2;
    position: relative;
    border-bottom: 1px dotted $color-red-dark;
    &:before {
      width: 13px;
      height: 13px;
      content: url("../../images/info-badge-filled.svg");
    }
    /* this is the tooltip's bottom arrow. It needs to be part of the span so
     * it is aware of the span's width. This is the only way I know of to position
     * the arrow over the info-badge (a background image on the span) when the
     * span is of variable width. */
    &:after {
      display: none;
      position: absolute;
      top: -$space-2x;
      left: -3px; /* positions the tooltip arrow over the info badge */
      border-top: 12px solid $color-red-lightest;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      content: " ";
    }

    &:hover {
      cursor: pointer;
      border-bottom-color: transparent;
      &:before {
        content: url("../../images/info-badge-outline.svg");
      }
      /* tooltip arrow */
      &:after {
        display: block;
      }
      + [role=tooltip] {
        overflow: auto;
        height: auto;
        width: auto;
        margin: 0;
        padding: $space-2x;
        right: 0;
        bottom: 95%;
        left: 0;
        background-color: $color-red-lightest;
        border-radius: $border-radius;
      }
    }
  }
  &:focus {
    span {
      border-bottom-color: transparent;
      &:before {
        content: url("../../images/info-badge-outline.svg");
      }
      /* tooltip arrow */
      &:after {
        display: block;
      }
      + [role=tooltip] {
        overflow: auto;
        height: auto;
        width: auto;
        margin: 0;
        padding: $space-2x;
        right: 0;
        bottom: 95%;
        left: 0;
        background-color: $color-red-lightest;
        border-radius: $border-radius;
      }
    }
  }
  /* make tooltip readable to screen readers */
  [role=tooltip] {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;


  }
  .errorlist {
    color: $color-red-dark;
    font-weight: $font-weight-normal;
    font-size: $small-font-size;
    border: none;
    max-width: 220px;
    margin: 0;
  }
}

th.exclude a.restore {
  position: absolute;
  font-size: 1rem;
  margin-bottom: $space-1x;
  padding: 2px 0;
  text-transform: uppercase;
  text-decoration: underline;
  white-space: nowrap;
  vertical-align: bottom;
  bottom: 100%;
  left: 0;
}

td.column-exclude a {
  color: $color-gray;
  font-size: 1.2em;
  line-height: 1rem;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $color-black;
  }
}

th.number {
  text-align: left;
}


td.number {
  font-family: $font-family-mono;
  text-align: right;
  &.number--currency:before {
    content: "$";
    display: block;
    float: left;
    width: 1em;
    height: $medium-font-size;
  }
}
// field-base_year_rate applies to Django admin tables
// same styling as number/currency styles
.field-base_year_rate {
  font-family: $font-family-mono;
  text-align: right;
  &:before {
    content: "$";
    display: inline;
    width: 1em;
    height: $medium-font-size;
  }
}
/* Some labor categories (especially the "interpreter" categories)
 * are incredibly long, so we should limit the width. */
th.column-labor_category {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 22rem;
}
