{% extends 'data_capture/step.html' %}

{% block subtitle %}Validate data{% endblock %}

{% block step_body %}
<h2>Validate data</h2>

{% if not is_preferred_schedule %}
<p>
  <strong>Note:</strong> You specified that the price list you were
  uploading was for <em>{{ preferred_schedule.title }}</em>, but it
  appears to be for <em>{{ gleaned_data.title }}</em>. If this is
  incorrect, please upload a different file.
</p>
{% endif %}

{% if gleaned_data.invalid_rows %}
<div class="alert alert-error" role="alert">

  {% with rows=gleaned_data.invalid_rows %}

  {% with total=rows|length %}
  <h3>{{ total }} row{{ total|pluralize:" has,s have" }} errors</h3>

  <p>
    The row{{ total|pluralize }} below appear{{ total|pluralize:"s," }} to be
    invalid and <strong>will be discarded</strong> when you upload your
    price list.
    If you'd like, you may correct {{ total|pluralize:"this row,these rows" }}
    in your original spreadsheet and <a href="{% url 'data_capture:step_1' %}">try uploading it again</a>.
  </p>
  {% endwith %}
  <table>
    <thead>
      <tr>
      {% for field in rows.0 %}
        <th>{{ field.label }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}

        {# TODO: Should we print out non-field errors here? #}

        <tr>
        {% for field in row %}
          <td{% if field.errors %} class="error"{% endif %}>
            <span>{{ field.value }}</span>
            {{ field.errors }}
          </td>
        {% endfor %}
        </tr>

      {% endfor %}
    </tbody>
  </table>
  {% endwith %}
</div>
{% endif %}

{% if gleaned_data.valid_rows %}

{% with rows=gleaned_data.valid_rows %}

{% with total=rows|length %}
<h3>{{ total }} row{{ total|pluralize }} ready to add to CALC</h3>

<p>Please double-check the data below to make sure all looks right.</p>
{% endwith %}

<table>
  <thead>
    <tr>
    {% for field in rows.0 %}
      <th>{{ field.label }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
    {% for field in row %}
      <td>{{ field.value }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endwith %}

{% else %}

<p>
  Your uploaded data contains no valid rows! Please fix your validation
  errors and re-upload.
</p>

{% endif %}

<div class="form-button-row clearfix">
  <a href="{% url 'data_capture:step_1' %}" class="button button-previous">Previous</a>

  <a href="{% url 'index' %}" class="button button-cancel">Cancel</a>

  {% if gleaned_data.valid_rows %}
  <div class="submit-group">
    <span class="submit-label">
      Provide details about the contract.
    </span>
    <a href="{% url 'data_capture:step_3' %}" class="button button-primary">Next</a>
  </div>
  {% endif %}
</div>

{% endblock %}
