{% extends 'data_capture/base.html' %}

{% block title %}Add price data to CALC / {{ step.description|capfirst }}: {% block subtitle %}{% endblock %}{% endblock %}

{% block body %}
<div class="container">

<h1>
  Add price data to CALC
  <span class="sr-only">{{ step.description }}</span>
</h1>
{% block steps %}
  <ol class="steps" aria-hidden="true">
    <li {% if step.number == 1 %}class="current"{% endif %}>
      <label>Choose schedule</label>
    </li>
    <li {% if step.number == 2 %}class="current"{% endif %}>
      <label>Enter contract details</label>
    </li>
    <li {% if step.number == 3 %}class="current"{% endif %}>
      <label>Upload price list</label>
    </li>
    <li {% if step.number == 4 %}class="current"{% endif %}>
      <label>Validate data</label>
    </li>
    <li {% if step.number == 5 %}class="current"{% endif %}>
      <label>Submit data</label>
    </li>
  </ol>
{% endblock %}

{% block step_heading %}{% endblock %}

{% include 'data_capture/messages.html' %}

{% block step_body %}{% endblock %}

</div>
{% endblock %}
