<form enctype="multipart/form-data" method="post"
      data-step1-form
      action="{% url 'data_capture:step_1' %}">

{% csrf_token %}

{% if request.is_ajax %}
{% include 'data_capture/messages.html' %}
{% endif %}

{{ form.non_field_errors }}

{{ form.schedule.errors }}

<label for="{{ form.schedule.id_for_label }}">Which schedule is associated with this price list?</label>

{{ form.schedule }}

{{ form.file.errors }}

<div class="upload">
  <input type="file" name="{{ form.file.html_name }}"
         id="{{ form.file.id_for_label }}" accept=".xlsx,.xls,.csv">
  <div class="upload-chooser">
    <label for="{{ form.file.id_for_label }}">Choose file</label>
    <span class="js-only" aria-hidden="true">or drag and drop here.</span>
    <span>XLS, XLSX, or CSV format, please.</span>
  </div>
</div>

<div class="form-button-row clearfix">
  <div class="submit-group">
    <span class="submit-label">
      Double-check your data and fix any errors.
    </span>
    <button type="submit" class="button-primary">Next</button>
  </div>
</div>

</form>
