<form enctype="multipart/form-data" method="post"
      data-ajaxform
      action="{% url 'data_capture:step_1' %}">

{% csrf_token %}

{% if request.is_ajax %}
{% include 'data_capture/messages.html' %}
{% endif %}

{{ form.non_field_errors }}

{{ form.schedule.errors }}

<label for="{{ form.schedule.id_for_label }}">Which schedule is associated with this price list?</label>

{{ form.schedule }}

{{ form.file.errors }}

{{ form.file }}

<div class="form-button-row clearfix">
  <div class="submit-group">
    <span class="submit-label">
      Double-check your data and fix any errors.
    </span>
    <button type="submit" class="button-primary">Next</button>
  </div>
</div>

</form>
