{% extends 'data_capture/step.html' %}

{% block subtitle %}Enter contract details{% endblock %}

{% block step_body %}
<h2>Enter contract details</h2>

<form method="post" action="{% url 'data_capture:step_3' %}">
{% csrf_token %}

{{ form.as_p }}

<div class="form-button-row clearfix">
  <a href="{% url 'data_capture:step_2' %}" class="button button-previous">Previous</a>

  <a href="{% url 'index' %}" class="button button-cancel">Cancel</a>

  <div class="submit-group">
    <span class="submit-label">
      Send data to admin for inclusion in CALC.
    </span>
    <button class="button-primary" type="submit">Submit</button>
  </div>
</div>

</form>
{% endblock %}
