{% extends 'data_capture/step.html' %}

{% block subtitle %}Enter contract details{% endblock %}

{% block step_body %}
<h2>Enter contract details</h2>

<form method="post" action="{% url 'data_capture:step_3' %}">
{% csrf_token %}

{{ form.non_field_errors }}

{{ form.contract_number.errors }}
{{ form.contract_number.label_tag }}
{{ form.contract_number }}
<span class="helptext">{{ form.contract_number.help_text }}</span>

{{ form.vendor_name.errors }}
{{ form.vendor_name.label_tag }}
{{ form.vendor_name }}

{{ form.is_small_business.errors }}
{{ form.is_small_business.label_tag }}
{{ form.is_small_business }}

{{ form.contractor_site.errors }}
{{ form.contractor_site.label_tag }}
{{ form.contractor_site }}

{{ form.contract_year.errors }}
{{ form.contract_year.label_tag }}
{{ form.contract_year }}

<p>
  <fieldset>
    <legend>{{ form.contract_start.label }}</legend>
    {{ form.contract_start.errors }}
    {{ form.contract_start }}
  </fieldset>
</p>

<p>
  <fieldset>
    <legend>{{ form.contract_end.label }}</legend>
    {{ form.contract_end.errors }}
    {{ form.contract_end }}
  </fieldset>
</p>

<div class="form-button-row clearfix">
  <a href="{% url 'data_capture:step_2' %}" class="button button-previous">Previous</a>

  <a href="{% url 'index' %}" class="button button-cancel">Cancel</a>

  <div class="submit-group">
    <span class="submit-label">
      Send data to admin for inclusion in CALC.
    </span>
    <button class="button-primary" type="submit">Submit</button>
  </div>
</div>

</form>
{% endblock %}
