{% extends "styleguide_fullpage_example.html" %}

{% block body %}
{# BEGIN SNIPPET #}
<body>
  <main class="card--collapse-header">
    <div class="container">
      <div class="card">
        <div class="content">
          <h2>Section of great importance!</h2>
          <p>Some compelling content goes here.</p>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <p>Thrilling, isn't it?</p>
        </div>
      </div>
    </div>
  </main>
</body>
{# END SNIPPET #}
{% endblock %}
