{% extends "styleguide_fullpage_example.html" %}

{% block body %}
{# BEGIN SNIPPET #}
<body>
  {% include '_banner.html' %}
  <header>
    <div class="container">
        <div class="row">
        {% include '_header.html' %}
        {# Extended header should be placed in this block in descendant templates #}
        {% block header_extension %}{% endblock %}
        {% block header_nav %}
          {% include '_nav.html' %}
        {% endblock %}
        </div>
    </div>
  </header>
</body>
{# END SNIPPET #}
{% endblock %}
