/* changelists */
#changelist #toolbar form input {
  padding: auto;
}

#changelist .actions label {
  font-size: 1.5rem;
  color: #222;
  margin-left: 0;
  display: inline-block;
}

#changelist .actions select {
  margin-left: 0 ;
}

#changelist .actions button {
  display: inline ;
}

.action-checkbox input[type=checkbox],
.action-checkbox input[type=radio] {
    position: static;
    left: 0;
}

.filter-block {
  background: #f1f1f1;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 1rem 2rem;
}

.filter-block h2,
.filter-block h3 {
  font-size: 1.5rem; /* to match front-page h5 */
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: 0.5rem;
}

.filter-block ul {
  list-style: none;
  margin: 0 0 2rem 0;
}
.filter-block ul li {
  margin-bottom: 0;
}

.filter-block ul li a {
  text-decoration: none;
  color: #5b616b;
}

.filter-block ul li.selected a {
  color: #0071bc;
  font-weight: bold;
  border-left: .5rem solid #0071bc;
  margin-left: -2rem;
  padding-left: 1.5rem;
}
