/********************
 * Django admin CSS *
 * *****************/

/* nav ul li temp styles until we can get the proper class added in the back end */
nav ul li {
  border-radius: 4px 4px 0 0 ;
}

nav ul li:first-child {
  background: white;
}

nav ul li:first-child a,
nav ul li:first-child a:hover {
  color: #112e51;
}
/* end temp styles */

label,
.aligned label {
  font-size: 1.5rem;
  color: #222;
  font-weight: bold;
}

/* groups pages */
#user-tools ul {
  text-align: right;
  margin: 2rem 0;
}

#user-tools ul li {
  display: inline-block;
  margin: 0 2rem 0 0;
  text-transform: uppercase;
  font-size: 11px;
}

#user-tools ul li:last-child {
  margin-right: 0;
}

.submit-row,
.selector .selector-available h2,
.selector-available h2,
.selector-chosen h2,
.selector .selector-filter,
#changelist #toolbar,
#changelist .paginator,
#changelist .actions {
  background: none ;
  border: none ;
}

.selector .selector-available h2,
.selector .selector-chosen h2 {
  color: #222 ;
  text-align: left;
}

.related-widget-wrapper select {
  background-image: none;
}

.selector-chosen select {
  border: 1px solid #5b616b ;
}

#id_permissions_filter {
  padding-top: 0;
}

#id_permissions_filter input {
  margin-top: 0;
}

.selector-filter label img {
  display: none;
}

.submit-row {
  text-align: left;
}

.submit-row input[type="submit"] {
  display: inline;
}

/* search */
.inline-form input[type="search"],
.inline-form input[type="submit"] {
  display: inline;
}

/* Styling for ul/lis with action links */
.object-tools,
.messagelist {
  list-style: none;
}

/* table captions */
table caption {
  background-color: #f1f1f1; /* color-gray-lightest */
  padding: .5rem 1rem;
  border-bottom: 1px solid #d6d7d9; /* color-gray-lighter */
}

table caption a {
  color: #5b616b; /* color-gray */
  text-decoration: none;
}

table caption a:hover,
table caption a:active,
table caption a:focus {
  color: #5b616b; /* color-gray */
}

thead a,
thead a:hover,
thead a:active,
thead a:focus {
  color: #5b616b; /* color-gray */
}
