<form enctype="multipart/form-data" method="post"
      data-ajaxform
      action="{% url 'data_capture:bulk_region_10_step_1' %}">

  {% csrf_token %}

  {% if request.is_ajax %}
  {% include 'data_capture/messages.html' %}
  {% endif %}

  {{ form.non_field_errors }}

  {{ form.file.errors }}

  {{ form.file }}

  <div class="form-button-row clearfix">
    <div class="submit-group">
      <span class="submit-label">
        Upload and review results
      </span>
      <button type="submit" class="button-primary">Submit</button>
    </div>
  </div>
</form>
