{% extends 'data_capture/bulk_upload/region_10_step.html' %}
{% load humanize %}

{% block subtitle %}Confirm Load{% endblock subtitle %}

{% block step_body %}
  {% with total=file_metadata.num_rows %}
    {% if total %}
      <p>{{ total|intcomma }} row{{ total|pluralize }} were found in the uploaded spreadsheet.</p>

      <p>This will delete all existing Region 10 data and replace it with the new data.</p>
    {% else %}
      <p>No valid rows were found in the uploaded spreadsheet. Please check your file and <a href="{% url 'data_capture:bulk_region_10_step_1' %}">try again</a>.</p>
    {% endif %}

    <form method="post" action="{% url 'data_capture:bulk_region_10_step_3' %}">
      {% csrf_token %}
      <div class="form-button-row clearfix">
        <a href="{% url 'data_capture:bulk_region_10_step_1' %}" class="button button-previous">Previous</a>

        <a href="{% url 'index' %}" class="button button-cancel">Cancel</a>

        {% if total %}
          <div class="submit-group">
            <span class="submit-label">
              Load data and view results
            </span>
            {# TODO: It would be nice to have JS that disables this button once clicked #}
            <button type="submit" class="button-primary">Confirm</button>
          </div>
        {% endif %}
      </div>
    </form>
  {% endwith %}
{% endblock step_body %}
