{% extends 'data_capture/step.html' %}

{% block title %}Upload Region 10 data / {{ step.description|capfirst }}: {% block subtitle %}{% endblock %}{% endblock %}

{% block heading %}Upload Region 10 data{% endblock heading %}

{% block steps %}
  <ol class="steps" aria-hidden="true">
    <li {% if step.number == 1 %}class="current"{% endif %}>
      <label>Upload spreadsheet</label>
    </li>
    <li {% if step.number == 2 %}class="current"{% endif %}>
      <label>Confirm load</label>
    </li>
    <li {% if step.number == 3 %}class="current"{% endif %}>
      <label>Complete</label>
    </li>
  </ol>
{% endblock steps %}
