<table class="price-list-table">
  <thead>
    <tr>
      <th>SIN</th>
      <th>Service proposed</th>
      <th>Minimum education</th>
      <th class="number">Minimum years of experience</th>
      <th class="number">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
      <td class="{% if row.sin.errors %}error{% endif %}">
        {{ row.sin.value }}
        {{ row.sin.errors }}
      </td>
      <td class="{% if row.service.errors %}error{% endif %}">
        {{ row.service.value }}
        {{ row.service.errors }}
      </td>
      <td class="{% if row.education.errors %}error{% endif %}">
        {{ row.education.value }}
        {{ row.education.errors }}
      </td>
      <td class="number {% if row.years_experience.errors %}error{% endif %}">
        {{ row.years_experience.value }}
        {{ row.years_experience.errors }}
      </td>
      <td class="number {% if row.price_including_iff.errors %}error{% else %}currency{% endif %}">
        {% if row.price.errors %}
          {{ row.price.value }}
          {{ row.price.errors }}
        {% else %}
          {{ row.price.value|floatformat:2 }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
