<table class="price-list-table">
  <thead>
    <tr>
      <th>SIN</th>
      <th>Service proposed</th>
      <th>Minimum education</th>
      <th class="number">Minimum years of experience</th>
      <th class="number">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
    {% for col in row %}
      <td class="{% if col.errors %}error{% endif %} {% if col.name == 'education' %}number{% elif col.name == 'price_including_iff' %}number currency{% endif %}">
        {% if col.errors %}<span class="tooltip">{{ col.errors }}</span>{% endif %}
        {{ col.value }}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
