<table class="price-list-table">
  <caption class="usa-sr-only">Review submitted price list data</caption>
  <thead>
    <tr>
      <th>SIN</th>
      <th>Service proposed</th>
      <th>Minimum education</th>
      <th>Min. years of experience</th>
      <th class="number">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    {% with row_count=forloop.counter %}
    <tr>
    {% for col in row %}
      <td class="{% if col.errors %}error{% endif %} {% if col.name == 'price' %}number{% endif %}">
        <span {% if col.errors %}aria-describedby="error__row-{{ row_count}}__col-{{ forloop.counter }}"{% endif %}>
        {% if col.name == 'price' and col.value %}
            ${{ col.value|floatformat:2 }}
          {% elif col.value %}
            {{ col.value }}
          {% endif %}
        </span>
        {% if col.errors %}<div class="error__tooltip" role="tooltip" id="error__row-{{ row_count}}__col-{{ forloop.counter }}">{{ col.errors }}</div>{% endif %}
      </td>
    {% endfor %}
    </tr>
    {% endwith %}
  {% endfor %}
  </tbody>
</table>
