<table class="price-list-table">
  <thead>
    <tr>
      <th>SIN(s) proposed</th>
      <th>Service proposed (e.g. job title/task)</th>
      <th>Minimum education / certification level</th>
      <th class="number">Minimum years of experience</th>
      <th>Unit of issue</th>
      <th class="number">Price offered to GSA (including IFF)</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
    {% for col in row %}
      <td class="{% if col.errors %}error{% endif %} {% if col.name == 'education_level' %}number{% elif col.name == 'price_including_iff' %}number currency{% endif %}">
        {{ col.value }}
        {% if col.errors %}<span class="tooltip">{{ col.errors }}</span>{% endif %}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
