{# used by head_meta inclusion tag to output meta content for head #}
{% load staticfiles %}

{# these tags precede title and other tags for consistent rendering #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=960">

<title>CALC / {{ title }}</title>
<link rel="icon" href="{% static 'frontend/images/favicon-32.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'frontend/images/favicon-144.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'frontend/images/favicon-120.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'frontend/images/favicon-114.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'frontend/images/favicon-72.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'frontend/images/favicon-57.png' %}">

<link rel="canonical" href="{{ canonical_url }}">
<meta name="description" content="{{ description }}">

<meta property="og:site_name" content="Contract-Awarded Labor Category (CALC)">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:title" content="CALC / {{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{% static meta_image %}">

<meta name="twitter:site" content="{{ site }}">
<meta name="twitter:url" value="{{ canonical_url }}">
<meta name="twitter:title" content="CALC / {{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% static meta_image %}">

<link rel="stylesheet" href="{% static 'frontend/built/style/main.min.css' %}"/>
