{% load staticfiles %}
<div class="base-header row">
  <a class="logo-container columns two" href="{% url 'index' %}"><img class="logo" src="{% static 'frontend/images/calc_logo_white.svg' %}" alt="CALC: Contract Awarded Labor Category Tool"></a>
  <div class="columns ten">
    {% if user.is_authenticated %}
      <div id="usermenu">
        <p class="user-id">Hello,
          <a class="usermenu-trigger" href="{% url 'user_account:index' %}">
            {{ user.email }}<svg class="icon-triangle" width="10" height="7" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0l4.95 6.905L9.9 0"/>
            </svg>
          </a>
        </p>
        <ul>
          <li><a href="{% url 'user_account:index' %}">Your activity</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
</div>
