  <nav class="row">
    <div class="columns twelve">
      <ul>
        <li><a href="{% url 'index' %}">Explore data</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Site admin</a></li>
        {% endif %}
        <li{% if current_selected_tab == 'upload_price_data'%} class="selected"{% endif %}><a href="{% if perms.data_capture.add_submittedpricelist %}{% url 'data_capture:step_1' %}{% else %}{% url 'data_capture:tutorial' %}{% endif %}">Add price data</a></li>
        <li{% if current_selected_tab == 'about'%} class="selected"{% endif %}><a href="{% url 'about' %}">About CALC</a></li>
      </ul>
    </div>
  </nav>
