{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CALC / {% block title %}Home{% endblock %}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=960">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--[if lte IE 9]>
    <script src="{% static 'frontend/js/vendor/aight.v2.min.js' %}"></script>
    <script src="{% static 'frontend/js/vendor/history.min.js' %}"></script>
    <![endif]-->

    {% include 'analytics/ga.html' %}
    {% include 'frontend/safe_mode/script_tag.html' %}
    {% include '_head.html' %}
    {% block head %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include '_banner.html' %}
    <header>
      <div class="container">
        <div class="row">
        {% include '_header.html' %}
        {# Extended header should be placed in this block in descendant templates #}
        {% block header_extension %}{% endblock %}
        {% block header_nav %}
          {% include '_nav.html' %}
        {% endblock %}
        </div>
      </div>
    </header>

    <main id="main" class="{% block main_class %}{% endblock %}">
      <div class="container">
      {% block body %}
      {% endblock %}
      </div>
    </main>

    {% block modals %}{% endblock modals %}
    {% block footer %}
      {% include "_footer.html" %}
    {% endblock %}

    {% if not is_safe_mode_enabled %}
      {% include "analytics/dap.html" %}
      <![if gt IE 8]>
      <script {{ csp_nonce }}>
        if (typeof aight === 'object') {
          document.body.className += ' ie ie' + aight.browser.ie;
        }
      </script>
      <![endif]>
    {% endif %}

    {% block before_body_close %}{% endblock %}
  </body>
</html>
