{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<link rel="stylesheet" href="{% static 'frontend/built/style/data_explorer.min.css' %}">

<!--[if IE 9]>
  <script src="{% static 'frontend/js/vendor/vex.combined.min.js' %}"></script>
  <script {{ csp_nonce }}>vex.defaultOptions.className = 'vex-theme-default';</script>
  <link rel="stylesheet" href="{% static 'frontend/style/vendor/vex.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/style/vendor/vex-theme-default.css' %}" />
<![endif]-->
{% endblock %}

{% block header_extension %}
<div class="row">
  <div class="twelve columns">
    <h1 class="description-main">Search awarded ceiling rates for labor categories</h1>
    <h2 class="description-secondary">CALC lets you conduct market research on professional service labor categories quickly and easily, helping you make better informed decisions. Results shown are awarded hourly rates from GSA IDIQ service schedules.</h2>

    <div class="row price-callout">
      <div class="three columns">
        <div class="icon icon-ceiling"></div>
        <p>Ceiling prices</p>
        <p>Maximum prices paid</p>
      </div>
      <div class="three columns">
        <div class="icon icon-fully-burdened"></div>
        <p>Fully burdened costs</p>
        <p>Wages + additional labor costs</p>
      </div>
      <div class="three columns">
        <div class="icon icon-professional-services"></div>
        <p>Professional services</p>
        <p>GSA schedule data</p>
      </div>
      <div class="three columns">
        <div class="icon icon-worldwide-rates"></div>
        <p>Worldwide rates</p>
        <p>Globally applicable rates</p>
      </div>
    </div>
  </div>
</div>
{% endblock header_extension %}

{% block body %}
<div data-embed-jsx-app-here></div>

<![if gt IE 8]>
{# For the list of files included in this built script, see gulpfile.js #}
<script src= "{% static 'frontend/built/js/data-explorer/vendor.min.js' %}"></script>
<script src= "{% static 'frontend/built/js/data-explorer/index.min.js' %}"></script>
<![endif]>

{% endblock %}
