{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<link rel="stylesheet" href="{% static 'frontend/built/style/data_explorer.min.css' %}">

<!--[if IE 9]>
  <script src="{% static 'frontend/js/vendor/vex.combined.min.js' %}"></script>
  <script {{ csp_nonce }}>vex.defaultOptions.className = 'vex-theme-default';</script>
  <link rel="stylesheet" href="{% static 'frontend/style/vendor/vex.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/style/vendor/vex-theme-default.css' %}" />
<![endif]-->

<![if gt IE 8]>
  {# For the list of files included in this built script, see gulpfile.js #}
  <script src= "{% static 'frontend/built/js/data-explorer.vendor.js' %}"></script>
  <script src= "{% static 'frontend/built/js/data-explorer.js' %}"></script>
<![endif]>
{% endblock head %}

{% block header_extension %}
<div class="row clearfix">
  <div class="eight columns">
    <h1 class="description-main">Search awarded ceiling rates for labor categories</h1>
    <a href="{% url 'about' %}">See About CALC></a>
  </div>
  <div class="price-callout four columns">
    <p class="small"><b>The Contract-Awarded Labor Calculator</b> (CALC) helps federal contracting officers and others find awarded prices to use in negotiations for labor contracts. It offers ceiling prices, fully burdened costs, services data, and worldwide rates.
    </p>
  </div>
</div>
{% endblock header_extension %}

{% block body %}
<div data-embed-jsx-app-here class="card--half-padding">
  <div class="card">
    <noscript>
      Please enable JavaScript to use this page's functionality.
    </noscript>
  </div>
</div>
{% endblock %}
