{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<link rel="stylesheet" href="{% static 'frontend/built/style/data_explorer.min.css' %}">

<!--[if IE 9]>
  <script src="{% static 'frontend/js/vendor/vex.combined.min.js' %}"></script>
  <script {{ csp_nonce }}>vex.defaultOptions.className = 'vex-theme-default';</script>
  <link rel="stylesheet" href="{% static 'frontend/style/vendor/vex.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/style/vendor/vex-theme-default.css' %}" />
<![endif]-->
{% endblock %}

{% block header_extension %}
<div class="row">
  <div class="twelve columns">
    <h1 class="description-main">Search awarded ceiling rates for labor categories</h1>
    <h2 class="description-secondary">CALC lets you conduct market research on professional service labor categories quickly and easily, helping you make better informed decisions. Results shown are awarded hourly rates from GSA IDIQ service schedules.</h2>

    <div class="row price-callout">
      <div class="three columns">
        <div class="icon icon-ceiling"></div>
        <p>Ceiling prices</p>
        <p>Maximum prices paid</p>
      </div>
      <div class="three columns">
        <div class="icon icon-fully-burdened"></div>
        <p>Fully burdened costs</p>
        <p>Wages + additional labor costs</p>
      </div>
      <div class="three columns">
        <div class="icon icon-professional-services"></div>
        <p>Professional services</p>
        <p>GSA schedule data</p>
      </div>
      <div class="three columns">
        <div class="icon icon-worldwide-rates"></div>
        <p>Worldwide rates</p>
        <p>Globally applicable rates</p>
      </div>
    </div>
  </div>
</div>
{% endblock header_extension %}

{% block body %}
<form id="search" class="search" role="form">
  <section class="search">
    <div class="container">
      <p class="help-text">Enter your search terms below, separated by commas. (For example: Engineer, Consultant)</p>
      <div class="row">
        <div class="six columns">
          <div data-embed-jsx="LaborCategory"></div>
          <div id="query-types" data-embed-jsx="QueryType"></div>
        </div>
        <div class="six columns">
          <button id="submit-button" class="submit button-primary">Search</button>
          <input id="reset-button" class="reset button" type="reset" value="Clear search">
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.search -->

  <section class="results">
    <div class="container">
      <div class="row">

        <div class="filter-container columns three">

          <div class="filter-block">

            <h5 class="filter-title">Optional filters</h5>

            <div id="education-level" data-embed-jsx="EducationLevel"></div>

            <div id="experience" data-embed-jsx="Experience"></div>

            <div data-embed-jsx="Site"></div>

            <div data-embed-jsx="BusinessSize"></div>

            <div data-embed-jsx="Schedule"></div>

            <div data-embed-jsx="ContractYear"></div>

            <!--
            <div class="filter">
              <label for="fiscal_year">Fiscal Year:</label>
              <select id="fiscal_year" name="fiscal_year">
              </select>
            </div>
            -->
          </div>

        </div>

        <div class="graph-block columns nine">
          <canvas id="graph" class="hidden" width="710" height="280"></canvas> <!-- for converting the histogram into an img -->
          <div id="description" data-embed-jsx="Description"></div>

          <h4>Hourly rate data</h4>

          <div id="proposed-price" data-embed-jsx="ProposedPrice"></div>

          <div data-embed-jsx="LoadingIndicator"></div>

          <div class="graph">
            <div id="price-histogram" data-embed-jsx="Histogram"></div>
          </div>

          <div id="highlights" data-embed-jsx="Highlights"></div>

          <div class="download-buttons row">
            <div class="four columns">
              <a id="download-histogram" class="button button-primary" href="#">⬇ Download graph</a>
            </div>

          <div id="results-actions four columns">
            <div data-embed-jsx="ExportData"></div>
          </div>

          <p class="help-text">The rates shown here are fully burdened, applicable worldwide, and representative of the current fiscal year. This data represents rates awarded at the master contract level.</p>

        </div><!-- /.div -->

      </div><!-- /.row -->

      <div class="table-container" data-embed-jsx="ResultsTable"></div>

    </div><!-- /.container -->
  </section><!-- /.results -->

</form>

<![if gt IE 8]>
{# For the list of files included in this built script, see gulpfile.js #}
<script src= "{% static 'frontend/built/js/data-explorer/vendor.min.js' %}"></script>
<script src= "{% static 'frontend/built/js/data-explorer/index.min.js' %}"></script>
<![endif]>

{% endblock %}
